[2017-08-16 07:19] mcollina opened #1 "/docs should point to the latest released version of the doc"
As titled.

[2017-08-16 09:51] lmammino opened #3 "Change all the references to the old repo to the new one"
Every reference to `lmammino/fastify-website` need to be changed to `fastify/website`

Depends on #4

[2017-08-16 09:52] lmammino opened #4 "Rename repository to website"
I would call this repository only `website` (as opposed to `fastify-website`).

What do you think?

At the moment I don't think I have permissions to do that.

[2017-08-16 09:53] delvedor commented on #4
Agree, in this way the path will be `https://github.com/fastify/website`, which makes more sense.

[2017-08-16 09:56] lmammino opened #5 "Review copywriting"
Here is a list of the files that might require some attention:

- [metadata.json](https://github.com/fastify/website/blob/master/src/website/metadata.json) - Contains some generic metadata used all over the website (it can also be used to specify a google analytics track id, in case you have one you want to use to track website visits.
- [acknowledgements.yml](https://github.com/fastify/website/bl

[2017-08-16 10:05] lmammino opened #6 "Configure CI"
- [x] 1. Enable trigger on website repository commits
- [x] 2. Enable trigger on fastify repository commits
- [x] 3. Prepare fastify AWS S3 bucket for deploy
- [x] 4. Configure CI environment variables (AWS credentials + Bucket Name)
- [x] 5. Map custom domain to S3 bucket website (Depends on #7)

[2017-08-16 10:06] lmammino commented on #6
@mcollina, I can't currently access the settings in this repo (probably because I am not an admin in the specific repo), so I won't be able to configure GitHub integrations with Circle CI.

[2017-08-16 10:09] lmammino opened #7 "Register/Reserve Domain name"
We should have a proper domain name for exposing the website to the world. I see that `fastify.com` is taken. In case none of you is the owner of that domain we can maybe try to get `fastify.js.org` through [dns.js.org](https://dns.js.org/).

[2017-08-16 10:20] lmammino commented on #1
That is actually a very good idea, it will make exploring the documentation easier while browsing the website.

I would keep `/docs` as a valid URL though (just because it's easier to link anywhere), so if that's ok for you I would just create a redirect from `/docs` to `/docs/master` in the S3 bucket config.

Anyway, if by *latest released version*, you don't mean `master` but whatever is the lat

[2017-08-16 10:24] delvedor commented on #7
What about `fastify.io`?

[2017-08-16 10:25] mcollina commented on #1
I mean *whatever is the latest release*, e.g. `0.23.x`.

[2017-08-16 10:25] lmammino commented on #7
I really like it as well :) We should make up our mind soon and register the domain we choose quickly

[2017-08-16 10:44] lmammino commented on #1
Cool, then I will go with option 2

[2017-08-16 11:57] mcollina commented on #7
We have `fastify.io`.

[2017-08-16 12:24] lmammino commented on #7
💣

[2017-08-16 12:24] #7 closed

[2017-08-16 12:26] lmammino commented on #4
Got access to the settings and changed this

[2017-08-16 12:26] #4 closed

[2017-08-16 15:39] mcollina commented on #6
you should be an admin right now.

[2017-08-16 15:42] mcollina opened #8 "set up the domain"
Can you give me the IP addresses for the A level domain and/or for the CNAME?

[2017-08-16 17:04] lmammino commented on #8
We will get a cname once the new s3 bucket is setup.

If i remember correctly, you told me you can provide one so that we can use an officially owned one.

If that's correct, i can send you by email all the instructions i generally use to create a dedicated aws user with a very restrictive policy for the ci and the s3 bucket configuration needed to expose the content of the bucket as a website.

W

[2017-08-16 17:06] lmammino commented on #6
Thanks @mcollina

[2017-08-16 18:35] mcollina commented on #8
Just point me where should I store that config, I'll place it directly there.

[2017-08-16 19:02] lmammino commented on #8
@mcollina You have mail ;)

[2017-08-16 19:46] lmammino opened #11 "Google Analytics tracking id"
In case we want to enable Google Analytics in the tracking.

@mcollina, if you want this, once you have a tracking id associated to fastify.io, you simply need to update [src/website/metadata.json](/src/website/metadata.json) and insert the value under `google_analytics`.

The template will take care to pick up the value and generate the needed analytics snippet.

[2017-08-16 20:02] delvedor commented on #11
In that case we should also add the privacy policy I guess 🤔

[2017-08-16 20:34] #3 closed

[2017-08-16 20:38] delvedor commented on #6
I gave the authorization :)

[2017-08-16 20:42] #1 closed

[2017-08-16 20:48] lmammino commented on #6
Trigger on website changes is enabled (for now still publishing on my s3 bucket).
I will try to figure out what's the best way to trigger the website build also when there's a change on master in the main fastify repo.

[2017-08-17 07:54] mcollina commented on #11
I'm 👍 . Is there anything we can reuse with an open license?

[2017-08-17 08:36] lmammino commented on #11
After a (very) quick research, that's what I found: https://www.cookiechoices.org/

And from their suggestions, this seems to be the most interesting: https://cookieconsent.insites.com

[2017-08-17 17:55] lmammino opened #13 "logo in menu appears stretched"

[2017-08-18 07:23] mcollina commented on #8
and here we are http://www.fastify.io.

[2017-08-18 07:23] #8 closed

[2017-08-18 07:27] lmammino opened #15 "Create proper images and metadata for social sharing"
As per title.

Currently social sharing on Facebook and Twitter generates non ideal previews.

[2017-08-18 07:29] lmammino commented on #8
Great stuff @mcollina. I suppose we should also close #6

[2017-08-18 07:31] #6 closed

[2017-08-18 07:31] lmammino commented on #6
I suppose this one is done as well. I'll leave the honor to close it to you guys 😆

[2017-08-18 07:33] lmammino commented on #11
Should i proceed trying to add cookieconsent?

[2017-08-18 07:33] mcollina commented on #11
+1

[2017-08-18 09:17] #13 closed

[2017-08-19 21:25] allevo opened #16 "Keep update ecosystem page"
How can we keep update the ecosystem list?

[2017-08-19 21:52] lmammino commented on #16
At the moment It is managed by a [static yaml file](https://github.com/fastify/website/blob/master/src/website/data/ecosystem.yml).

It could be a nice idea to automate the generation of this file by extrapolating the list from the README in master at build time, similar to how we do that currently to handle documentation.

[2017-08-21 10:23] mcollina opened #17 "latest doc alias"
as title, we should be able to do:

http://www.fastify.io/docs/latest/Getting-Started/

(this should point to the latest released version of the guide)

[2017-08-22 09:06] lmammino commented on #17
Good point!

So far we can do something similar only for `master`. It shouldn't be hard to update the code based on that example.

I will try to address this at some point this week.

[2017-08-23 09:47] mcollina commented on #11
Is there an update on this cookie thingy?

[2017-08-23 10:43] lmammino commented on #11
Sorry, I haven't got much time lately. Let me create a dedicate issue for cookieconsent so that I don't loose track of the remaining tasks.

[2017-08-23 10:45] lmammino opened #18 "Integrate cookieconsent to allow the integration with Google Analytics"
https://cookieconsent.insites.com/

References #11

[2017-08-24 12:17] lmammino commented on #17
Just as reminder to myself:
---

For avoiding SEO issues, all the pages in `latest` should have a meta:

[code]

[2017-08-24 12:18] lmammino commented on #16
@allevo just submitted a PR that should fix this. Please have a look and let me know what you think

[2017-08-24 14:06] #16 closed

[2017-08-24 19:42] lmammino commented on #16
Any reason why this issue was closed? The PR, once (and if) merged, should have closed it IMHO.

[2017-08-24 19:55] allevo commented on #16
The issue was opened in order to open a PR.
Once a PR is made, this is not needed.

We can move the discussion to PR for thoughts sharing.

[2017-09-14 16:30] #17 closed

[2017-09-14 16:37] lmammino opened #24 "[Discussion] Possibility to automatically generate benchmarks file"
It would be nice if we can somehow automatically generate [the file used as data source](https://github.com/fastify/website/blob/master/src/website/data/benchmarks.yml) to render the [benchmarks page](http://www.fastify.io/benchmarks/), so that we might be able to easily keep the page in sync with the evolution of the benchmarks.

I haven't dig in depth into this yet, so I can't propose a complete

[2017-09-16 13:48] lmammino opened #26 "Move website to GitHub pages + Cloudflare (CDN + SSL)"
We are currently hosting the website on S3, which is not an ideal solution for several reasons:

  1. It's a paid service
  2. complex deployment process
  3. No SSL (unless combined with CloudFront or some other CDN/SSL service)

The TODO list to get this done is the following:

  - [x] Activate deploy on GitHub pages #25
  - [x] Reconfigure main NS DNS records as in the table below (mostly for @

[2017-09-17 09:38] lmammino commented on #26
@mcollina, @delvedor, @allevo et Al.,
I created a PR for every step that involves code changes (see description in this issue).

Let me know if you are happy with this and when you are ready to proceed.

[2017-09-19 13:44] mcollina commented on #26
I have landed #25 and rerouted the DNS servers.

[2017-09-19 14:03] lmammino commented on #26
Great job @mcollina. I should get an email when Cloudflare picks up the new dns and be back able to move things forward by myself

[2017-09-20 17:05] #26 closed

[2017-09-29 06:02] brunoscopelliti opened #29 "Broken links"
Links between documentation pages are all broken.
Example:

The page https://www.fastify.io/docs/latest/Getting-Started/ links to `Routes#async-await`, and href value is /docs/latest/Routes.md#async-await.

/docs/latest/Routes.md does not exist; it should be  /docs/latest/Routes#async-await; but we can't just update the doc on github, without breaking the navigation on github.com.

Do you have a q

[2017-09-29 13:06] brunoscopelliti commented on #29
Another possibility is to save the doc in `src/website/content` with the extension in the filename; something like **Getting-Started.md.md**
This will maintain the same url schema of Github, but requires to change also links in sidebar.

@lmammino Please, let me know which approach you prefer, or if you have a different solution.

[2017-09-29 21:59] #29 closed

[2017-10-11 21:20] lmammino opened #31 "Website build broken"
The website build is currently broken with the following error:

[code]

The same error happens also local.

Currently investigating on this

[2017-10-11 21:29] lmammino commented on #31
It turns out this is happening on plugin parsing. A patch is coming soon

[2017-10-11 21:38] #31 closed

[2017-10-11 21:59] lmammino opened #33 "Update team section"
The website should reflect the new README in the main repo.

This requires changing the `src/website/data/team.yml` data file and the `src/website/layouts/home.html` template.

Ideally, we should respect the division between **lead maintainers** and **contributors** as in the main repo.

[2017-10-12 08:36] #33 closed

[2017-10-17 09:58] mcollina opened #36 "Remove the messaging that we are faster than XYZ, and focus on overhead and ease of use intead"
Currently our messaging might come out as aggressive vs the rest of the frameworks. However, we want to be good citizens of the Node.js ecosystem, and we have all used and loved the other frameworks.

How about we remove the "Yx faster than" boxes, and we adjust the rest of the messaging to that we focus on overhead and ease of use?

I've done a similar work in https://github.com/fastify/fastify/p

[2017-10-17 09:59] delvedor commented on #36
Completely agree 👍

[2017-10-17 11:37] jsumners commented on #36
👍

[2017-10-17 13:54] mcollina opened #37 "create anchors for the headings in the docs"
like github!

[2017-10-27 17:58] lmammino opened #39 "Divide the plugins in the ecosystem page into core and community"

[2017-10-29 20:53] lmammino commented on #39
Also, as suggested by @mcollina in #38, we shouldn't try to parse the file ourselves in a "hacky" way, but maybe just use a rendered version of the markdown file.

[2017-10-29 21:04] StarpTech commented on #39
It's something off-topic but this could be part of this issue, we should provide a search because I think the list will grow fast. We could then mark community and team plugins by stickers or medals 🥇Just an idea.

- Lightweight fuzzy-search http://fusejs.io/
- https://github.com/choojs/choo

[2017-11-20 10:34] lmammino commented on #37
Hey @mcollina,
I am not really sure what you mean here.

I can see both the website docs and the github docs have anchors in the titles and I can't see any mismatch between them:

- https://www.fastify.io/docs/latest/Reply/#async-await-and-promises
- https://github.com/fastify/fastify/blob/master/docs/Reply.md#async-await-and-promises

Am I missing something?

[2017-11-21 23:24] akaila opened #40 "Broken link on https://www.fastify.io/docs/latest/Getting-Started/"
Search and click on the word "ecosystem" and it throws 404

[2017-11-21 23:25] trivikr commented on #40
Looks like the link is not updated https://www.fastify.io/docs/latest/Ecosystem
The "Ecosystem" link in Navigation redirects to https://www.fastify.io/ecosystem/

[2017-12-06 09:16] mcollina commented on #37
I mean, it's not possible to get a link of a section from the website, while it's possible on GitHub.
If you over https://github.com/fastify/fastify/blob/master/docs/Reply.md#async-await-and-promises, the anchor symbol appears and you can click it.

Another option is to add a `#` at the end, like node core does (see https://nodejs.org/api/http2.html#http2_class_http2session).

[2017-12-08 18:55] mcollina commented on #40
Good spot! We are (as always) very busy.. would you like to send a PR?

[2018-01-06 17:19] lmammino commented on #5
@mcollina @delvedor I guess at this stage we can close this one, right?

[2018-01-06 19:26] #40 closed

[2018-01-07 10:43] delvedor commented on #5
I think so :D

[2018-01-07 10:45] #5 closed

[2018-01-10 05:32] #36 closed

[2018-01-19 20:06] PavelPolyakov opened #46 "where can I submit my plugin?"
Hi,

I just released another fastify plugin [fastify-blipp](https://github.com/PavelPolyakov/fastify-blipp).

I know my plugin is pretty dumb, but still think it can be useful :) Wanted to submit it to be present in the plugins list here:
https://www.fastify.io/ecosystem/

However I see that `ecosystem.yml` reference is broken:
https://github.com/fastify/fastify/docs/_data/ecosystem.yml

And I was

[2018-01-19 20:58] PavelPolyakov commented on #46
@delvedor thanks!

[2018-02-13 17:36] smartiniOnGitHub opened #48 "Request to use favicon.ico in a plugin"
Hi all,
in a plugin I'm writing [fastify-favicon](https://github.com/smartiniOnGitHub/fastify-favicon) I'd like (if possible) to use standard fastify favicon.
Or maybe I could load it from Fastify directly but currently it's not in that repository.
What do you think ?

Thanks a lot,
Sandro

[2018-02-13 19:05] mcollina commented on #48
All of the originals are in https://github.com/fastify/graphics. You can bundle them, I would not depend on a internet accessible resource. Please keep the attribution to the logo.

[2018-02-13 19:05] #48 closed

[2018-02-14 08:09] smartiniOnGitHub commented on #48
@mcollina Yes I think that including it in the plugin is the best option (unless it will be bundled in fastify). License of the plugin is Apache so it's compatible with MIT liecense used here, and I'll put attributions in the NOTICE file. Thanks :-) .

[2018-03-01 02:27] charlesread opened #49 "https://github.com/fastify/fastify/docs/_data/ecosystem.yml returns 404"
The very bottom of https://www.fastify.io/ecosystem/ links to https://github.com/fastify/fastify/docs/_data/ecosystem.yml, but it is not found.

[2018-03-01 09:36] mcollina commented on #49
ouch! Thanks! Would you like to contribute a fix?

[2018-03-01 14:08] lmammino opened #50 "Broken link in Documentation for Server-Methods"
In the [Server-Methods doc page](https://www.fastify.io/docs/latest/Server-Methods/) the link to `Fastify factory function` is broken.

This might be only one of many broken links, as it is probably due to the way the markdown file is processed and the links are altered to match the website URL.

Refs:
 - https://github.com/fastify/fastify/pull/819
 - https://github.com/fastify/fastify/issues/801

[2018-03-01 14:15] charlesread commented on #49
I'd be more than happy to do so, but I don't know what is _meant_ to be on that page.  Initially I thought that `ecosystem.yml` might just be in a different location than the referenced location, but I couldn't find the file at all in the repo, so I don't know what that page actually needs to display.

[2018-03-01 14:17] jsumners commented on #49
I think this is very related to https://github.com/fastify/fastify/issues/801

[2018-03-18 18:02] allevo opened #55 "LTS missing in Doc section"
[https://www.fastify.io/docs/latest/](https://www.fastify.io/docs/latest/) doesn't list [LTS docs](https://github.com/fastify/fastify/blob/master/docs/LTS.md)

[2018-03-18 20:28] lmammino commented on #55
The list of pages available in the docs is taken from the main [README](https://github.com/fastify/fastify#documentation).

We should add LTS there to have it working.

If this is not ideal (e.g. we don't want to link the LTS there), then we need to find another process to maintain a ToC for the website.

[2018-03-19 08:45] delvedor commented on #55
I think we can directly read what is inside the `docs` folder and add an `ignore` field here if in the future we want to "hide" some page.

[2018-03-19 08:46] mcollina commented on #55
That list in the readme also control the order. We need some sort of ToC anyway.

[2018-03-19 10:53] lmammino commented on #55
Any reason why LTS cannot be part of the main ToC in fastify README.md?

[2018-03-19 10:59] mcollina commented on #55
It needs a PR.

[2018-03-20 10:43] charlesread commented on #49
ping @mcollina

[2018-03-20 10:53] mcollina commented on #49
It needs to point to https://github.com/fastify/fastify/blob/master/docs/Ecosystem.md.

[2018-05-03 14:55] jsumners commented on #37
This really needs to be resolved. It is very difficult to link people to specific sections (subsections) of the documentation.

[2018-05-08 08:12] #37 closed

[2018-05-08 09:04] #55 closed

[2018-06-08 16:17] delvedor opened #61 "Factory documentation is missing"
As titled.

Now I have no time to fix, if someone wants to fix it go ahead! :)
https://github.com/fastify/fastify/blob/master/docs/Factory.md

[2018-06-12 09:08] delvedor opened #62 "Write plugin documentation is missing"
As titled.

Now I have no time to fix, if someone wants to fix it go ahead! :)
https://github.com/fastify/fastify/blob/master/docs/Write-Plugin.md

[2018-06-25 07:32] mcollina opened #63 "Rate limit to Github API"
[code]

[2018-06-27 13:57] lmammino commented on #63
woops! That's an interesting one! I guess an easy win would be to do authenticated requests. Additionally I can think of some caching mechanism (since circleCI supports caching as well).

I'll have a look into this!

[2018-06-27 21:04] lmammino commented on #62
In order to fix this issue, we need to add a link to this section in the main README in the main Fastify repo: https://github.com/fastify/fastify/blob/master/README.md#documentation. I'll submit a PR shortly

[2018-06-27 21:05] lmammino commented on #61
In order to fix this issue, we need to add a link to this section in the main README in the main Fastify repo: https://github.com/fastify/fastify/blob/master/README.md#documentation. I'll submit a PR shortly

[2018-06-28 10:29] #61 closed

[2018-06-28 10:29] #62 closed

[2018-06-28 12:03] #63 closed

[2018-06-30 14:06] mcollina opened #67 "Link to fastify-cli in the homepage"
See https://github.com/fastify/fastify/issues/1011

[2018-07-07 14:36] allevo opened #69 "Broken links"
Some pages link to broken links.

Running `wget --spider -o wget.log -e robots=off --wait 1 -r -p --debug  'https://www.fastify.io/'`, the following links are broken:
[code]

The full logs (sorry it is in italian):
[wget.log](https://github.com/fastify/website/files/2172833/wget.log)

[2018-07-08 09:28] lmammino commented on #69
After a quick research it seems that the main problem is that we use links with this markdown syntax in many places:

[code]

this is currently not supported by the markdown parsing that we do to fix the links. I'll try to see if I can include it

[2018-07-09 11:01] #69 closed

[2018-07-09 19:48] lmammino opened #71 "Broken links in doc"
How to test this:

[code]

Links still broken:

[code]

[2018-07-10 17:24] #71 closed

[2018-07-17 10:03] mcollina opened #73 "Create a new page on fastify users"
As titled!

[2018-07-25 21:32] #49 closed

[2018-09-04 13:37] jsumners commented on #73
I think this proposal is acceptable.

Knock would like to be part of the list.

@joeshehata, Karan says you have the materials that would be needed to participate. Looping you in here so it's on your radar.

[2018-09-04 13:46] delvedor commented on #73
👍

[2018-09-04 18:31] lmammino commented on #73
@jsumners great stuff, I am trying to get approval to be able to add the company i work for.
Do we have at least 4 brands to get this started? @mcollina @delvedor @allevo are "your" companies interested in having some space there?

[2018-09-05 09:19] thearegee commented on #73
@mcollina I would be interested in this for sure. I'm also currently writing a medium post about our use of fastify, so maybe we could line this up.

Would need speak to our comms team if you want anything more than a logo but I see no issue. Let know what you would need from me.

[2018-09-05 10:49] thearegee commented on #73
So although we are rolling it out to multiple brands, we are currently only in production for one of them. As you want to link to the site I think it makes sense to only show that one.

Let me know how you want me to submit logo url and I'm happy for us to be on there.

[2018-09-08 14:44] lmammino commented on #73
@thearegee, ideally it would be an SVG file. I am [currently experimenting with the design](#77). As soon as I am sure what's the best way to display the logos I'll write down the specs for the file and give you all the details.

[2018-09-08 15:12] allevo commented on #73
@lmammino Yeah, I'll send the request to my boss but I don't see any drawbacks

[2018-09-11 21:28] mcollina commented on #50
I think this coule be closed now

[2018-09-11 21:28] #50 closed

[2018-09-11 22:56] allevo commented on #11
Any updates?

[2018-09-11 22:56] allevo opened #79 "Dark theme"
As titled.

Is it possible (in a simple way) to add a dark theme?

[2018-09-12 19:53] lmammino commented on #11
Sorry. I still keep neglecting this one. I'll start to address this as soon as we finish the logo section.

[2018-09-14 20:53] #73 closed

[2018-09-20 01:51] sinchang opened #84 "[Feature] switch to netlify deploy system"
good point:

1. can preview the page  in the pull request

[2018-09-20 08:31] delvedor opened #85 "Add past sponsor and contributors in the homepage"
As titled!
I don't think the current configuration allows this, I can't do this work at the moment, so I'll leave this issue here :)

Ref: https://github.com/fastify/fastify/pull/1171

[2018-09-20 09:18] sinchang commented on #85
I will do it. :)

[2018-09-20 12:57] #85 closed

[2018-09-20 13:50] sinchang commented on #84
@lmammino how about your opinion?

[2018-09-22 09:09] lmammino opened #91 "Organisations SVGs need explicit width or height"
Nucleode logo is there but it displays with 0x0 pixels. I will fix this specific case manually and I will try to identify a way to avoid this from happening again before merging PRs.

CC: @mcollina @fox1t @cemremengu

[2018-09-22 09:11] cemremengu opened #92 "Language selection / i18n"
We should a dropdown for i18n so that users can view the chinese docs and any other languages

[2018-09-22 09:13] cemremengu commented on #91
My apologies @lmammino, I will make sure to ask for your review first next time

[2018-09-22 09:17] lmammino commented on #91
No problem at all @cemremengu, I probably wouldn't have spotted that either 😉

[2018-09-22 09:59] lmammino commented on #92
Good one.
Are we assuming other translations will be living in another website/url or do we want to have a more sophisticated build process here to be able to handle multilanguage internally?

[2018-09-22 10:13] #91 closed

[2018-09-22 10:15] cemremengu commented on #92
I think its better if translations come from somewhere else in the specified format and we just display them. I mean something like this one:

https://github.com/eggjs/egg/tree/master/docs/source

[2018-09-22 12:10] fox1t commented on #91
I am really sorry. This logo was made by our designer @StefanoMiC, maybe he can help about identifying a way to avoid this issue.

[2018-09-22 12:14] lmammino commented on #91
@fox1t, I believe it was the compressor I recommended in the guide to remove those attributes. So I should be the one to take all the blame (even though I am not trying to blame anyone! 😛).

It's good to have a new logo and an improved process for logo submissions. So thanks again for your support.

If you and/or @StefanoMiC, want to have a look at the current process check out the changes in #93

[2018-09-22 12:16] fox1t commented on #91
OK I am going to be killed by @StefanoMiC because I used the compressor on our logo. :(

[2018-09-22 14:44] cemremengu commented on #92
For now yes, so we can just do `English | Chinese` selection I think

[2018-09-25 14:47] StefanoMiC commented on #91
Hi @lmammino, I've managed to look into the issue and noticed a discrepancy between the file @fox1t pushed and the SVG that appeared on the website, the structure was substantially different. I've manually fixed the code in which some shapes got misplaced in groups and some colors mixed up, not sure why though.. I'm also not sure if an automated minifier is the best choice in case there are any gr

[2018-11-09 03:12] seangenabe opened #96 "Document returning a stream from a route"
re: https://github.com/fastify/fastify/issues/23

[2018-11-09 08:29] cemremengu commented on #96
@seangenabe it is actually documented here https://www.fastify.io/docs/latest/Reply/#streams

Does that help?

[2018-11-09 08:30] cemremengu commented on #96
@delvedor maybe we can use the new "move issue" feature? :D

[2018-11-09 08:32] delvedor commented on #96
You are right!

We could, but in this case we can skip it since the feature is already documented :)

[2018-11-09 08:32] #96 closed

[2018-11-26 16:14] cemremengu opened #100 "Consider using docusaurus"
https://docusaurus.io/en/
https://github.com/facebook/docusaurus

It has built-in i8n, search integration, theming, versioning, blog etc. geared towards opensource projects (used by some well known ones as well). It might be worth giving a try.

[2018-11-26 16:19] delvedor commented on #100
I’m very happy with the current solution, it has served us very well in the past moths and I don’t think there is a good reason to change it :)

[2018-11-26 16:23] cemremengu commented on #100
I am not saying the current solution is bad, don't get me wrong 😄 Just suggesting that there is something like this out there if someone is up for experimentation

[2018-11-26 16:58] delvedor commented on #100
We already had this discussion in https://github.com/fastify/fastify/issues/722, and we agree to keep using the current system. If you want to try to see if you can improve the current solution, please go ahead! But it should be a significant improvement :P

[2019-01-14 09:37] allevo opened #103 "Mia-Platform logo disappears"
I don't know why but not all organizations listed [here](https://github.com/fastify/website/blob/master/src/website/data/organisations.yml) are not showed in the website.

[2019-01-19 16:07] lmammino commented on #103
i can see the logos

<img width="1918" alt="screen shot 2019-01-19 at 10 06 12 am" src="https://user-images.githubusercontent.com/205629/51429194-e5db9a80-1bd1-11e9-904e-554e937f33bc.png">

Which os/browser are you using? Maybe an SVG compatibility issue...

[2019-01-19 16:56] allevo commented on #103
me too... Nice.
I'll close this.

[2019-01-19 16:56] #103 closed

[2019-03-02 14:58] #15 closed

[2019-03-11 00:15] Ethan-Arrowood opened #114 "Mention TypeScript support our front page"
We work hard on supporting TypeScript, we should reflect this on the front page of the site so devs know that we are a Node.js API Framework with TypeScript support.

[2019-03-11 00:35] Ethan-Arrowood opened #115 "GitHub buttons do not load on live site"
Error in console: Loading failed for the <script> with source “https://buttons.github.io/buttons.js”.

[2019-03-11 07:52] lmammino commented on #115
It seems to work for me. Do you have any browser extension that might block this?

[2019-03-12 14:23] Ethan-Arrowood commented on #115
Hmm seems to work again. Closing, must of been a 1 off issue.

[2019-03-12 14:23] #115 closed

[2019-03-15 04:38] Ethan-Arrowood opened #119 "Reply object methods missing from documentation"
The Fastify Reply documentation page is misleading. The list of methods at the start of the page does not contain `.removeHeader` but that method is referenced in the body of the page. Similarly the order of the methods in the header are not in order while the rest of the page is. For readability sake everything should be in order and all implemented methods should be documented correctly.

[2019-03-15 06:00] Ethan-Arrowood opened #120 "Update Server#logger to discuss custom logger option"
The [Server#logger](https://www.fastify.io/docs/latest/Server/#logger) doc section lists 3 options for the logger server option. I believe the `pinoInstance` option should be expanded (or a new, 4th option should be added) to tell the user they can define or use their own custom logger as long as it follows the rules set forth by our code (I believe it needs a certain list of methods and an option

[2019-03-15 07:44] mcollina commented on #119
THe docs live in https://github.com/fastify/fastify/blob/master/docs/Reply.md, better move it to the main repo.

[2019-03-15 13:02] dbauszus-glx opened #122 "Dead link on lmammino.github.io/fastify page"
I really like the documentation you put on github pages. While trying to find out which template you use I noticed that the link to the layout home.html is actually dead.

Unfortunately; It's the one in the footer which asks for PR to improve the page itself.

![image](https://user-images.githubusercontent.com/22201617/54432712-dd12cb00-4721-11e9-9858-ca8955a284d3.png)

The link in question is: ht

[2019-03-19 23:17] mcollina commented on #39
Fixed in #121

[2019-03-19 23:17] #39 closed

[2019-03-24 09:55] lmammino commented on #122
Sorry, I just realized I expressed my question badly. I meant in which URL of the documentation you see the broken URL in the footer?

[2019-03-25 10:35] dbauszus-glx commented on #122
It is on the page referenced in the title. https://lmammino.github.io/fastify/

I am not sure whether this is a dev build as the problem does not happen on the regular fastify page. I can't remember how I landed on your fork. I think I followed a link from one of your blogs to lmammino.github.io/fastify

[2019-04-09 09:23] ACXgit opened #124 "Broken parser in "JSON Schema and Shared Schema support" table"
In the [JSON Schema and Shared Schema support](https://www.fastify.io/docs/latest/Validation-and-Serialization/#json-schema-and-shared-schema-support) table there are two kinds of check marks, the thick and green one (I suppose the correct one) and the thin and black one, which should probably be rendered as a "X" or simply nothing. Probably a parser issue.

[2019-04-09 09:24] delvedor commented on #124
The symbols are different also in the markdown in https://github.com/fastify/fastify/blob/master/docs/Validation-and-Serialization.md#json-schema-and-shared-schema-support.

cc @Eomm

[2019-04-09 19:09] Eomm commented on #124
Nope, they should be all green ✔️

My Fira Code font fails 😂

![image](https://user-images.githubusercontent.com/11404065/55827981-b753c880-5b0b-11e9-9ff3-b85ce1b9c108.png)

[2019-04-10 17:55] Eomm commented on #124
@lmammino I have merged the fix/typo.
There is something I have to do in order to upload in the site?

Thank you

[2019-04-15 22:09] Eomm commented on #124
@delvedor could you give me some tips about that? (the site is still with the bad icon)

[2019-04-15 22:19] lmammino commented on #124
I'll trigger a new build from circle

[2019-04-19 19:31] Eomm commented on #124
Icon ✔

![image](https://user-images.githubusercontent.com/11404065/56440692-75d0d380-62ea-11e9-9fd3-26eb472047c9.png)

You can close it ✌

[2019-04-19 20:48] #124 closed

[2019-04-19 20:48] delvedor commented on #124
Thanks!

[2019-04-20 17:44] ACXgit commented on #124
Thank you!

[2019-06-09 07:42] hn4a0d opened #130 "Typo: Middlewares"
There is no plural of 'middleware', just as with the noun 'software', it is countless.

References:
[https://en.wiktionary.org/wiki/software](https://en.wiktionary.org/wiki/software)
[https://www.wordhippo.com/what-is/the-plural-of/middleware.html](https://www.wordhippo.com/what-is/the-plural-of/middleware.html)
[https://english.stackexchange.com/questions/257120/middleware-vs-middlewares](https:/

[2019-06-09 16:57] mcollina commented on #130
Awesome! Would you like to send a PR?

[2019-09-21 16:05] SerayaEryn commented on #130
This was fixed in fastify/fastify#1850.

[2019-09-27 06:48] #130 closed

[2019-10-24 08:57] mshaaban0 opened #136 "Links green color contrast ratio is very low"
## 🐛 Bug Report
Links green colour contrast ratio doesn't meet WCAG guidelines, and it's really burning my eyes. [Color Contrast Checker](https://webaim.org/resources/contrastchecker/?fcolor=00D1B2&bcolor=FFFFFF)

<img width="743" alt="Screenshot 2019-10-24 at 10 47 44" src="https://user-images.githubusercontent.com/6163988/67469427-7b69f600-f64c-11e9-9763-1f65ba5c138d.png">

## To Reproduce

<img

[2019-10-24 10:09] mcollina commented on #136
Thanks for reporting!

@lmammino @delvedor wdyt?

[2019-10-24 13:53] delvedor commented on #136
I agree that this can (and should) be improved!

[2019-10-29 19:07] lmammino commented on #136
Hello @mshaaban0, thanks a lot for this detailed issue. This is an extremely important point where I should have done a better job. Thanks for highlighting this and, please, feel free to bring more of these accessibility issues to the table. I'll follow on with a PR to address this shortly!

[2019-10-30 20:08] lmammino commented on #136
Awesome, thanks a lot! I'll try to give it a go, to see if there are other major issues!

[2019-11-07 21:00] lcsd opened #139 "Deprecated beforeHandler in home page second example"
Deprecated  **beforeHandler**  in home page second example. Must use **preHandler**.

## Your Environment

- *node version*: none
- *fastify version*: >=2.10.0
- *os*: Linux Mint
- *any other relevant information*

[2019-11-07 21:38] lmammino commented on #139
Thanks a lot @lcsd! Can you submit a PR? :)

[2019-11-09 20:55] #136 closed

[2019-11-24 13:59] davidmarkclements opened #368 "move away from the .io TLD"
The UK is an aggressor in the Chagos Islands, it forcefully relocated residents in late 60's early 70's and is now ignoring a UN order return the islands to Mauritius - all the while it is profiting from the .io TLD.

Having talked it over with @mcollina he's asked me to open an issue proposing that we move away from the .io TLD , until/unless the Chagos Islands are restored.

http://www.thedarksi

[2019-12-11 18:52] mrchief opened #141 "Docs site truncates text visually"
## 🐛 Bug Report

The docs site doesn't handle breakpoints correctly. As a result, overflowing text is unreadable

![image](https://user-images.githubusercontent.com/781818/70650638-79202300-1c1d-11ea-9774-0e0413de5b42.png)

This issue happens on full screen on a 15in Macbook Pro as well as on smaller windows. To make things worse, horizontal scroll is disabled, so there is really no way to read th

[2019-12-12 19:12] mcollina commented on #141
Would you like to send a PR?
Il 12 dic 2019, 07:58 -0500, Hrusikesh Panda <notifications@github.com>, ha scritto:

[2019-12-13 03:46] mrchief commented on #141
@jsumners on full screen

![image](https://user-images.githubusercontent.com/781818/70767871-dc4eaa00-1d30-11ea-8324-6d4c1be04e14.png)

But it happens on smaller viewports as well (that are not so small)

![image](https://user-images.githubusercontent.com/781818/70767901-fa1c0f00-1d30-11ea-8026-f3b66d2705cd.png)

[2019-12-13 09:01] lmammino commented on #141
I can look into this probably next week. If you have a solution in mind it will speed up things a lot to have a PR :)

Thanks a lot for reporting this! the website deserves much more love than it gets right now, so any chance to improve it is very welcome!

[2019-12-15 03:33] wallasfmorais commented on #92
I could do it for Portuguese (Brazilian Portuguese), I'm wondering if this is desired.
Are there few Fastify tutorials in the ptbr language (in any language to be fair compared to so many libraries)? I am planning to start doing some "evangelism" about it on ptbr by creating various types of content.
Anyway, let me know if any of these "works" would be appreciated.

[2019-12-16 00:12] mcollina commented on #92
I'm not sure we can commit to keep the docs up-to-date in all languages. I'm happy to have a repo similar to https://github.com/fastify/docs-chinese for Portuguese if you'd like to work on that!

[2019-12-16 11:05] lmammino commented on #92
I am happy to find ways to add links to the website, but I would agree with @mcollina. It's very very hard to keep documentation in sync in multiple languages. I'd prefer to be clear and say that there's one official documentation in English and that the other ones are there for convenience but might not necessarily be always up to date.

[2019-12-20 04:44] wallasfmorais commented on #92
I sure would. Once the repository is created, I can start.

[2019-12-20 10:17] mcollina commented on #92
@wallasfmorais repo created, and I've got you invited there!

[2020-01-11 17:17] #141 closed

[2020-01-14 10:27] lmammino opened #146 "Contributors section: design improvement"
## 🚀 Feature Proposal

Hello, I was playing a bit with SVG clip paths and I got some interesting results that can be used to make the  contributors section in the home page a little bit more lively.

This is just an experiment, so be brutal on your feedback. If you like it tough, I will submit a PR :)

## Example

![Screen Shot 2020-01-14 at 10 24 24 AM](https://user-images.githubusercontent.com/2

[2020-01-14 10:48] mcollina commented on #146
i like it!

[2020-01-14 13:05] jsumners commented on #146
👍

[2020-01-14 17:31] Eomm commented on #146
Why not hexagon?
Like the stikers 😂

[2020-01-14 21:19] lmammino commented on #146
@Eomm Here's a preview

<img width="986" alt="Screenshot 2020-01-14 at 21 18 02" src="https://user-images.githubusercontent.com/205629/72383463-6a90c400-3713-11ea-934e-e999cc0e90e0.png">

What do you guys think?

I still prefer the diagonal stripes version 😛

[2020-01-14 21:32] Eomm commented on #146
I like both versions 👍🏼

I thought it could be a nice shape 😄

[2020-01-15 11:09] delvedor commented on #146
I like both! But the hexagon might be more related to the Node.js style :D

[2020-01-16 15:46] #146 closed

[2020-01-31 15:05] GlenTiki opened #153 "Enable some form of deploy previews for PR's"
See here: https://www.netlify.com/blog/2016/07/20/introducing-deploy-previews-in-netlify/

I've been using Netlify to host live previews of my PR's lately, this would streamline it 😄

[2020-01-31 15:13] lmammino commented on #153
I was playing with Gatsby cloud recently, which is very similar but Gatsby specific (which we don't use here).

I'll have a look, thanks for sharing this!

[2020-01-31 15:19] #114 closed

[2020-02-01 10:44] mcollina opened #154 "The "docs" link from the top bar should point to the docs for the last release instead of master"
## 🐛 Bug Report

The top link points to the docs on `master` rather than the docs on the released version.
It should point to the latest release instead.

[2020-02-01 15:39] jsumners commented on #154
![image](https://user-images.githubusercontent.com/321201/73594736-16415e80-44df-11ea-9711-6472bc484de1.png)

[2020-03-09 08:27] mcollina opened #157 "latest docs should point to the latest non-experimental release, not master"
Currently in the https://www.fastify.io/ top banner, we point to docs of master.
With the upcoming v3 release, this would soon be experimental/alpha. So, we should point the docs to the latest stable version.

[2020-03-09 08:27] mcollina commented on #157
cc @lmammino

[2020-03-10 20:16] lmammino commented on #157
Let me review the current logic. As far as I remember it is based on branches and tags, so it might just work as it is. I'll reply back here as soon as I have more clarity or some questions.

(Apologies for the delay, very busy days lately)

[2020-03-10 20:44] lmammino commented on #157
Ok, I think I have now clear the current approach:

- We download all the releases after a given release (using [the GitHub releases endpoint](https://api.github.com/repos/fastify/fastify/releases)). Currently, we download all from most recent until `1.13.x`.
- We also download the current `master` and we mark it a `master`.
- The `latest` release is determined as the "highest" release after `mast

[2020-03-10 22:00] mcollina commented on #157
It's not working like that: latest is master right now.

We will release v3.0.0-alpha.0 and so on.

[2020-03-10 22:22] lmammino commented on #157
Will `master` be `v3.0.0-alpha.0` as soon as `v3.0.0-alpha.0` is released?

[2020-03-10 22:40] mcollina commented on #157
I think so, yes.

However master should never be "latest"
Il 10 mar 2020, 23:22 +0100, Luciano Mammino <notifications@github.com>, ha scritto:

[2020-03-11 08:55] lmammino commented on #157
ok, thanks!

Just to clarify: latest will be **latest stable** (2.x) or any latest (highest) version (3.x)?

In other words, do we need to start tracking what's stable and what's beta and treat them differently?

[2020-03-11 09:28] mcollina commented on #157
Any latest version that does not have a `-something.somethingelse` at the end.

[2020-03-11 09:34] lmammino commented on #157
Sounds good. I'll try to find some time to make the necessary changes. When do you expect to ship 3.0.x?

[2020-03-11 09:38] mcollina commented on #157
I think we'll ship ready to ship an alpha in the next few weeks.

[2020-03-17 12:56] lmammino commented on #157
Started working on this. Also found a bug whereby we might have missed releases as we look only at the first page of the releases API call 😓

Doing some testing and refactoring, it might take me a bit but I hope I will have the PR open by the end of the week

[2020-03-20 17:42] #157 closed

[2020-03-20 17:47] lmammino commented on #154
Closed by #160 🎉

[2020-03-20 17:47] #154 closed

[2020-03-20 17:51] lmammino commented on #122
This was an old test for the website. Deleted it now. Closing this

Thanks again @dbauszus-glx for reporting this

[2020-03-20 17:51] #122 closed

[2020-03-20 17:55] lmammino opened #161 "Feature: switching docs version should retain the current page (if exists)"
## 🚀 Feature Proposal

As proposed by @Eomm in #160:

## Motivation + Example

The user might be reading a page, for instance `Request`, and suddenly realises they are reading the doc for the wrong version. They might switch to the desired version but the switch will bring them to the ToC for that version rather than to the `Request` page for that version. So they have to navigate manually to the

[2020-03-20 18:07] jsumners commented on #161
Can it instead go to a page that shows an error message?

[2020-03-20 18:10] lmammino commented on #161
@jsumners are you thinking about a generic error page (generic 404) or a more specific one like the following?

[code]

[2020-03-20 18:11] jsumners commented on #161
Basically your quote.

[2020-03-20 18:14] lmammino commented on #153
If we move the pipeline to GitHub actions we can probably achieve something nice by combining these 2 actions here:

  - [Publish on surge.sh](https://github.com/dswistowski/surge-sh-action) (to publish a new version everytime a new PR is created)
  - [Comment on PR](https://github.com/unsplash/comment-on-pr) (to post the URL to the preview when available)

The same workflow is probably easy to ac

[2020-03-20 18:16] lmammino commented on #161
Where do we go from there? ToC for vX.Y.Z ?

[2020-03-20 18:28] mcollina commented on #153
+1!

[2020-03-20 18:29] mcollina commented on #161
Yes, this seems about right!

[2020-03-20 19:09] Eomm commented on #161
Agree!

[2020-04-27 11:46] jsumners opened #166 "Website shows current `master` docs instead of latest release"
This is becoming a much bigger issue now that we are in the v3 pre-release phase. People are reading the docs on the website and trying to apply them to their v2 install. As a result, they are creating "readme code doesn't work" issues. The website should default to current non-prerelease.

FWIW, this script will show the latest release's details:

[code]

[2020-04-27 15:42] mcollina commented on #166
cc @lmammino can you take a look?

also @GlenTiki might be a good one if you'd like to take a stab at it!

[2020-04-27 16:26] GlenTiki commented on #166
I'll happily take a look this evening if no fix has been posted yet. 👍

[2020-04-29 17:06] lmammino commented on #166
Hey, guys sorry for the delay.
I have been super busy in the latest weeks.

I am not sure I understand the issue. Right now, we are pointing the documentation to `latest` by default.

`latest` already skips `draft` and `prerelese` releases and selects the most recent one. At this very moment, `latest` is `v2.13.1`.

`master` just takes whatever is in the `master` branch at build time and builds th

[2020-04-29 17:15] jsumners commented on #166
It must have been because `pre-release` wasn't ticked off on the `v3.0.0-alpha.1` release.

[2020-04-29 17:15] #166 closed

[2020-04-29 17:17] lmammino commented on #166
Good to know this doesn't require any fundamental change on the build flow. 😬

Thanks for clarifying @jsumners

[2020-05-04 08:41] anthonyringoet commented on #139
This has been resolved.

![image](https://user-images.githubusercontent.com/576905/80949144-bb781580-8df3-11ea-859d-df394578d07b.png)

[2020-05-04 09:57] #139 closed

[2020-07-01 14:44] Eomm opened #174 "Wrong docs on v2"
#  🐛 Bug Report

The docs in the site are different from the repo.

## To Reproduce

v2 repo shows the right interface:
https://github.com/fastify/fastify/blob/2.x/docs/Hooks.md#preparsing

[code]

The site shows the v3 interface:
https://www.fastify.io/docs/v2.15.x/Hooks/#preparsing

![image](https://user-images.githubusercontent.com/11404065/86257563-01feac00-bbba-11ea-957e-bd0e4b01f650.png)

[2020-07-01 15:36] mcollina commented on #174
@lmammino can you take a look?

[2020-07-07 07:23] mcollina commented on #174
Fixed, it was the wrong tag.

[2020-07-07 07:23] #174 closed

[2020-07-07 07:50] lmammino commented on #174
Apologies I did miss the previous notifications and seeing this only now :/

[2020-07-13 15:26] iandrc opened #177 "Redirect to Server.inject for testing purposes gives 404"
## 🐛 Bug Report

I was reading the documentation related to [Server.inject](https://www.fastify.io/docs/latest/Server/#inject).
It says that I can read more about `fake http injection (for testing purposes)` following [this](https://www.fastify.io/docs/latest/Server/Testing.md#inject) link. However, I've got a `404` error.

## To Reproduce

Steps to reproduce the behavior:
- Go to the documentatio

[2020-07-13 15:36] iandrc opened #178 "Redirect to Routes section gives 404"
## 🐛 Bug Report

I was reading the documentation related to [Server.route](https://www.fastify.io/docs/latest/Server/#route).
It says that I can read `method to add routes to the server, it also has shorthand functions, check ...` [here](https://www.fastify.io/docs/latest/Server/Routes.md). However, I've got a `404` error.

## To Reproduce

Steps to reproduce the behavior:
- Go to the documentatio

[2020-07-13 15:41] mcollina commented on #177
Would you like to send a Pull Request to address this issue?

[2020-07-13 15:41] mcollina commented on #178
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-13 15:42] iandrc opened #179 "Redirect to Server.decorate* gives 404"
## 🐛 Bug Report

I was reading the documentation related to [Server.decorate](https://www.fastify.io/docs/latest/Server/#decorate).
It says that `Function useful if you need to decorate the fastify instance, Reply or Request, check ...` [here](https://www.fastify.io/docs/latest/Server/Decorators.md). However, I've got a `404` error.

## To Reproduce

Steps to reproduce the behavior:
- Go to the do

[2020-07-13 15:43] mcollina commented on #179
Would you like to send a Pull Request to address this issue?

[2020-07-13 15:44] iandrc commented on #179
@mcollina

Definitely. I've found a lot of such things throughout the docs. It's a bit annoying. I'll take all the `issues` opened by me and address those problems.

[2020-07-13 15:45] mcollina commented on #179
Thanks!

[2020-07-13 17:34] iandrc commented on #179
That's broken only for the following versions:
* `v3.0.x`
* `master`
* `latest`

I guess I've found the issue. I'm looking for a solution :)

[2020-07-14 19:58] iandrc commented on #179
@mcollina the fix may require the change to the `fastify` repo. Is it okay?

[2020-07-14 19:59] mcollina commented on #179
yes! Go for it

[2020-07-19 16:09] tnguyen14 opened #181 "Validation and Serialization page 404"
The Errors page has a link to "JSON.schema validation", which is https://www.fastify.io/docs/latest/Errors/Validation-and-Serialization.md

That page is returning a 404.

[2020-07-19 16:43] lmammino commented on #181
Thanks for this bug report @tnguyen14.

This seems to happen with other links in the docs: specifically all the ones in the format `[some labed](./some-page.md)`. The `./` works correctly on github but it's not remapped correctly in our docs.

This could be done [here](https://github.com/fastify/website/blob/master/src/scripts/processReleases.js#L144). Apparently we should already handle that but

[2020-07-20 08:58] Eomm commented on #181
These errors are related to https://github.com/fastify/fastify/issues/2421#issuecomment-660635888

[2020-07-24 13:52] #177 closed

[2020-07-24 13:52] #178 closed

[2020-07-24 13:52] #179 closed

[2020-07-24 13:52] #181 closed

[2020-07-28 09:53] iandrc opened #182 "Rebuild a website and deploy a new version"
## 🐛 Bug Report

404 Errors on the website should have been fixed by https://github.com/fastify/fastify/pull/2434 yet those errors still present on the website. Thus, it would be nice to rebuild the website and deploy a new version, which will fix those things.

## To Reproduce

* Go to the documentation on Server.decorate: https://www.fastify.io/docs/latest/Server/#decorate
* Then click on the he

[2020-07-28 12:07] lmammino commented on #182
Just retriggered [a build](https://app.circleci.com/pipelines/github/fastify/website/213/workflows/7edda522-23ec-4c48-8838-2776b38ec9d5/jobs/2303). Hopefully this will fix the issue.

Thanks for opening this issue @iandrc !

[2020-07-28 12:15] lmammino commented on #182
Unfortunately retriggering the build didn't help. I still see `./something` type of links in the build.

<img width="503" alt="Screenshot 2020-07-28 at 13 14 38" src="https://user-images.githubusercontent.com/205629/88664028-5a02d280-d0d4-11ea-8aaf-d04ddcf9e4e8.png">

I'll try to run a local build at some point later today.

[2020-07-28 19:44] iandrc commented on #182
@lmammino Maybe we'll need to wait for another `fastify` version release

[2020-07-29 08:27] lmammino commented on #182
@iandrc can you help me validating that the changes proposed in https://github.com/fastify/website/pull/183 are solving the issue as expected?

Thanks :)

[2020-07-29 11:16] #182 closed

[2020-08-17 07:59] mbarzeev opened #188 "Broken link on ContentTypeParser page"
## 🐛 Bug Report

There is a broken link on the [ContentTypeParser](https://www.fastify.io/docs/latest/ContentTypeParser/) page, in the `See example/parser.js for an example.` caption.

## To Reproduce

Go to the page, look for `See example/parser.js for an example.` and click the link

## Expected behavior
The JS example file should be displayed

I wanted to edit the doc myself but it seems to be

[2020-08-17 08:04] mcollina commented on #188
cc @lmammino

[2020-08-17 15:35] lmammino commented on #188
Great catch @mbarzeev. This is a case that is currently not covered by our url remapping logic in the website build pipeline. I think we should link this one straight to the github page for the js file.

I'll try to find some time to fix this during the weekend

[2020-08-17 20:32] mbarzeev commented on #188
Hi @lmammino,
By "link this one straight to the github page for the js file", to which branch are you aiming for, Master?
If you are aiming for a static link I can create a PR for this, and save you some time ;)

[2020-08-17 20:46] Eomm commented on #188
I think he is referring to this:

https://github.com/fastify/website/blob/616eb8c988d2c8a905c938839c91a725e9b87bbc/src/scripts/processReleases.js#L144

the site downloads the docs from `fastify` repo and then fixes the links thought that function that is processing this URL as well:

[code]

Right now we should have fixed all the links to relative ones, so maybe could we leave absolute link untouc

[2020-08-21 09:05] eadsjr opened #189 "Broken link on the Getting Started doc page"
## 🐛 Bug Report

The relative link to Ecosystem on the getting started doc under the 'Extend your server' header works fine on github, but dies on the website.

## To Reproduce

Steps to reproduce the behavior:

At location https://www.fastify.io/docs/latest/Getting-Started/#extend-your-server

Click the link for ecosystem.

 It goes to https://www.fastify.io/docs/latest/Ecosystem which 404s.

##

[2020-08-28 11:18] espipj opened #192 "Serveless Example outdated"
## 🐛 Bug Report

Seems like the *new* way of deploying it serverless is by using the package aws-lambda-fastify. [Docs](https://www.fastify.io/docs/v2.6.x/Serverless) are still pointing to use aws-serverless-express which is less performant.

If someone points me to the Serverless.md I can help to update it by opening a PR 😃

[2020-08-28 11:31] espipj commented on #192
Oh, I was looking at an old version of the docs 🤦

[2020-08-28 11:31] #192 closed

[2020-09-04 21:03] cmawhorter opened #198 "definition for request hostname is incorrect"
## 🐛 Bug Report

in the docs request `hostname` is defined as providing the hostname -- which is very incorrect for [what it actually does](https://github.com/fastify/fastify/blob/f2982a245e55f6c9d0a88837434e8423db6cc0ae/lib/request.js#L74-L81).

what it actually does:
- if request.headers['x-forwared-for'] exists, the value is returned. (i believe this could be an array?)
- host header as-is (so

[2020-11-07 01:27] agent-ly opened #212 "Typo on ecosystem page regarding fastify-websocket"
Tiny typo, mentions that fastify-websocket is built upon _websocket-stream_ instead of **ws** (the official repo says ws)

[2020-11-07 10:04] lmammino commented on #212
Hello @lenneths! thanks for reporting this. The data on the website is taken at build time from one of the READMEs on the main project (https://github.com/fastify/fastify/blob/master/docs/Ecosystem.md#community). Would you like to contribute to the project by opening a PR there?

[2020-12-05 22:59] salesh commented on #24
Hi @lmammino,

What you think about creating a script that would scrape from https://github.com/fastify/benchmarks?
Benchmarks GitHub has an action that every first day in a month regenerates data so we could have action here that will every second day in a month call our script, modify benchmarks.yml, and commit a modified version. What do you think about this?

[2020-12-06 12:26] mcollina commented on #24
I think the best path forward is to have the benchmarks repo publish the data in json as well as in markdown, and fetch it while we render the website.

[2020-12-06 14:17] salesh commented on #24
Hi Matteo @mcollina should I then first create PR with modification in benchmark-compare.js that will create benchmark-result.json?

[2020-12-06 15:44] mcollina commented on #24
The data is already created in a folder, but not committed by the github action. We should just make the action commit it.

[2020-12-10 17:40] salesh commented on #24
Sorry if I am wrong Matteo @mcollina but like you mention they are in the uncommitted folder results and then the benchmark-compare.js script goes through each of them and creates output (called in GActino)- wouldn't there be a place to just create benchmark-result.json (with merged desired output that we want to get with a request) when we are traversing result dir. after finishing the loop?

[2020-12-10 21:40] mcollina commented on #24
That's also ok!

[2021-01-27 09:48] lmammino opened #224 "Anchors being stripped from internal links"
Originally reported by @salesh: https://github.com/fastify/fastify/issues/2812

[2021-01-27 12:53] jsumners opened #225 "Figures are not included"
https://www.fastify.io/docs/latest/Encapsulation/

![image](https://user-images.githubusercontent.com/321201/105993679-ae334300-6074-11eb-8eb4-446d5cab6c22.png)

cc: @lmammino

[2021-01-27 14:44] salesh commented on #225
I believe that
```![Figure 1](./resources/encapsulation_context.svg)```  in https://github.com/fastify/fastify/blob/master/docs/Encapsulation.md should change to
```https://github.com/fastify/fastify/raw/master/docs/resources/encapsulation_context.svg```

Fastify website can't build with a link like that...

[2021-01-27 18:44] lmammino commented on #225
That's a good one. We don't have any support for images (right now).

As  @salesh suggested, one workaround here might be to use the absolute image URL for the svg on the source file so that also the website ends up using an absolute URL.

[code]

This is far from ideal. I think we should keep this issue and work something out to be able to process images in our website build.

[2021-01-27 18:57] salesh commented on #224
Hey @lmammino so I found out about https://github.com/fastify/website/blob/616eb8c988d2c8a905c938839c91a725e9b87bbc/src/scripts/processReleases.js#L144

[code]
The problem is with the parts index.
So the issue is that ${parts[2]} is only ```Server.md``` while ${parts[1]} ->  ```Server.md#ajv``` parts[3] -> ```#ajv```

So should I add ${parts[1]} instead of ${parts[2]} or you want something like ${

[2021-01-27 19:05] lmammino commented on #224
Yes @salesh, that seems to be the part of the code responsible for remapping various kind of links that work on GitHub to links that work on the website.

It is a bit messy having to deal with remapping REGEXes but I couldn't figure out any better solution, TBH. If you happen to think of a better approach I am all ears :)

Anyway, I think that appending `parts[3]` might just work for now.

[code]

[2021-01-27 19:19] salesh commented on #224
I understand. :D It was really funny to find out about this function because I was confused about how anchors keep disappearing.
So I did learn a lot in this process of researching. Honestly, nothing comes to my mind at the moment, I was quite delighted with the solution as it is written - so I am not sure if something can be done differently without too much code or without introducing complexity

[2021-01-28 09:28] #224 closed

[2021-01-28 09:33] lmammino commented on #225
I gave it a quick try locally and I can confirm that the above works (as a workaround):

<img width="1445" alt="Screenshot 2021-01-28 at 09 32 51" src="https://user-images.githubusercontent.com/205629/106118297-d8a3ff80-614b-11eb-95ff-080f24dff9f5.png">

[2021-02-10 14:36] FernandoBoza opened #229 "404 Fasitfy Website: TypeScript page, CONTRIBUTING.md anchor tag broken link"
## 🐛 Bug Report

https://github.com/fastify/website/blob/master/src/website/content/404.md

## To Reproduce

Steps to reproduce the behavior:
Go to https://www.fastify.io/
Navigate to https://www.fastify.io/docs/latest/
Navigate to https://www.fastify.io/docs/latest/TypeScript/
Navigate to https://www.fastify.io/docs/latest/CONTRIBUTING.md

## Expected behavior

🤔 https://github.com/fastify/fastif

[2021-02-11 09:27] lmammino commented on #229
Thanks a lot @FernandoBoza for reporting this.

I realized that also the links at the bottom (`src` links) are affected by the same problem.

There are 2 solutions for this problem:

  1. use absolute links in the source file for this page (https://github.com/fastify/fastify/blob/master/docs/TypeScript.md)
  2. update the link remapping rules from the source on github to the website (https://githu

[2021-02-16 18:44] Fdawgs opened #237 "Decorate hyperlink <a> tags to make them stand out"
## 🚀 Feature Proposal

Change links to a different color, or decorate them i.e. bold or underline.

## Motivation

This may be the result of my color blindness, but the links and text use colors that are too similar, meaning that links just blend in with the text.
This makes it easy for links to be missed when reading a page.

As an example, in the image below I can't tell from a glance that `more

[2021-02-16 18:46] lmammino commented on #237
Great suggestion @Fdawgs! I honestly went with the defaults provided by Bulma, but I totally see your point.

It shouldn't be particularly complicated to change this by updating our sass files. Is this something you'd be willing to look at?

[2021-02-16 18:51] Fdawgs commented on #237
I'll have a go! Not too sure on what the best approach would be though?

Color change? Underline? Is there a preference?

[2021-02-16 18:55] lmammino commented on #237
I'd personally prefer a colour change, but I am not strongly opinionated about it, nor I am particularly skilled with accessibility. So I suppose whatever is the most accessible option, we should probably pursue it...

[2021-02-18 18:19] #237 closed

[2021-02-19 09:31] Eomm opened #240 "Run local site on Windows"
On win bad thinks are happening.

There is a [workaround](https://github.com/fastify/website/pull/143#issuecomment-573112072):

In the `src\scripts\buildWebsite.js` file change the script:

https://github.com/fastify/website/blob/97ff86e9d1a1aa8d100a5f33e01cc5c8be59ed69/src/scripts/buildWebsite.js#L75-L77

To:

[code]

Or send a PR to [metalsmith-contenthash](https://github.com/ekytr/metalsmith-co

[2021-02-24 15:43] FernandoBoza commented on #229
@lmammino i'd be happy to help,

i believe  switching out the links the current source file for this https://github.com/fastify/fastify/blob/master/docs/TypeScript.md would be the fastest option. FYI just brand new to open source

[2021-03-28 13:57] veritem opened #246 "Running on Wsl"
## 🐛 Bug Report

Development server doesn't start on wsl

## To Reproduce

![image](https://user-images.githubusercontent.com/53856673/112754805-17d0be80-8fde-11eb-9e50-877b624b2b43.png)

Steps to reproduce the behavior:

After Running `npm install` and running `npm start:dev`

To start a dev server

## Expected behavior

Should start the development server

## Your Environment

- *node version*:

[2021-03-29 08:10] mcollina commented on #246
Would you help fixing this? I think it's due to most of us having unix systems.

[2021-03-29 14:10] simoneb commented on #246
Works for me on Win 10 on Node 12/14 on all of:

- cmd
- mingw
- wls

The only clue is, if you're running `npm start:dev` it may mean you're running npm@7, so that may be part of the issue. Just guessing, haven't tried it. I recommend to stick to the npm version that ships with your Node version.

[2021-03-29 14:12] jsumners commented on #246
💯

If it isn't bundled with Node.js LTS, it isn't an `npm` I consider even exists.

[2021-03-29 17:48] makuzaverite commented on #246
Yeah,@simoneb  I run  `npm start:dev` still not working on win 10 wsl with ubuntu 20.04

[2021-03-29 20:04] simoneb commented on #246
If you're running npm@7, try switching back to npm@6

[2021-03-29 20:19] makuzaverite commented on #246
I'm on npm@7 I don't understand how npm version affects the build though

[2021-03-29 21:57] jsumners commented on #246
`npm@7` installs modules with a different algorithm than `npm@6`. In particular, it reverts the behavior around `peerDependencies`. It also completely changes the lock file format.

[2021-03-30 02:39] makuzaverite commented on #246
We can try to update the repo to run even on npm@7?

[2021-04-06 16:59] lmammino commented on #225
Closed by #249

[2021-04-06 16:59] #225 closed

[2021-04-14 06:54] ruheni opened #251 "Docs: Database integration concepts"
## 🚀 Feature Proposal

Hello friends 👋🏾

I think it would be valuable to have a section on the docs covering database integration. This would cover tools and libraries such as knexjs, Sequelize, TypeORM, Mikro-orm, Prisma, etc.

## Inspiration

[Nest Docs](https://docs.nestjs.com/techniques/database)

[2021-04-14 07:14] mcollina commented on #251
Where would you add this in our website?

cc @jsumners @lmammino

[2021-04-14 11:53] jsumners commented on #251
@mcollina this would go in our `docs/guides` in the main repo, as you pointed out in the original issue. So I think this issue is not terribly helpful.

The problem is that we _really_ need someone who can solve https://github.com/fastify/website/pull/215. It's becoming more and more of an issue every day.

[2021-04-14 16:34] mcollina opened #252 "Video and Articles"
I think we should have a section on our website that list all the content available for Fastify, providing some links to official/approved talks, articles etc..

[2021-05-20 09:06] shuta13 opened #255 "Docs: Misaligned Diagrams on Lifecycle page"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

12.4.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

Diagrams on Lifecycle page looks broken, as shown in the following images.

<img width

[2021-05-20 09:11] lmammino commented on #255
Hey, Thanks a lot for reporting this!

We would really appreciate if you would have some time to help us address this by submitting a PR.

[2021-05-20 09:19] shuta13 commented on #255
All right, I'll try to fix that!

[2021-05-20 10:16] lmammino commented on #255
Thanks a lot. Note that I am not able to replicate the issue (on mac/google-chrome), so I am thinking it could be a font-related problem...

[2021-05-20 10:58] shuta13 commented on #255
I checked it out, and you're right.

I set the  `font-family` of `code` to be the same as on GitHub, and that fixed this problem. I'll submit a PR.

<img width="640" alt="fixed-lifecycle-diagram" src="https://user-images.githubusercontent.com/38882716/118967402-a0982500-b9a5-11eb-96d1-13d47cc9c786.png">

[2021-05-20 17:40] #255 closed

[2021-06-09 19:38] ivansieder opened #259 "Unify the way of importing and initializing the app."
## 🚀 Feature Proposal

I'd suggest three minor things to enhance the docs:
* unify the way of importing and initializing the app throughout the docs so that they're the same across the whole docs
* as discussed with Matteo, it might make sense to rename references to `fastify`/`server` to `app` throughout the docs.
* for the basic examples, I'd suggest to keep all the examples with the same config

[2021-06-09 19:41] jsumners commented on #259
_Only if_ the author decides to use ESM. ESM _is not necessary_ and it is not promoted as the primary syntax -- see https://github.com/nodejs/node/issues/33954.

[2021-06-09 19:43] ivansieder commented on #259
Totally agree with that @jsumners, that's also why the above examples/suggestions still include CommonJS' require. My thoughts behind this proposal were mostly related to the fact of unifying the import and initialization.

Other than that: damn, a reply within 3 mins, that's not bad ^^

[2021-06-09 20:11] Eomm commented on #259
I agree to unify the docs and for CJS or ESM I saw a simple switch that shows the syntax chosen by the user (I cant remember which module)

I would like to unity also the plugin instance arg:

[code]

or `appInstance` / `appChildInstance` at this stage?

[2021-06-09 20:14] ivansieder commented on #259
@Eomm what about renaming them to `app`, too?
![image](https://user-images.githubusercontent.com/35377072/121422933-0443bb80-c970-11eb-99ae-9a1eeb9ef3b2.png)

[2021-06-09 21:27] Eomm commented on #259
Personally, I think `app` is misleading because it seems the main root application.
This is true only when the user uses the `fastify-plugin` and not when a new context is being created.

For this reason, I would like to think if there are better options

[2021-06-09 21:47] jsumners commented on #259
I think `app` implies Express ways of thinking. But I don't have any strong preference as long as the documentation makes sense.

[2021-06-10 10:08] mcollina commented on #259
I normally use the following everywhere:

[code]

[2021-06-10 10:25] climba03003 commented on #259
For me, it will be all `fastify`. It is clear to me that the variables should be a instance of `fastify`.
[code]

[2021-06-10 16:08] mcollina commented on #259
That is also a good choice.

[2021-06-11 17:52] ivansieder commented on #259
What plays towards `app` for me is that I'm quiet faster to type it than `fastify` and it's also less prone to get it wrong (although with editor support this shouldn't be that much of an issue anymore)

[2021-06-15 06:08] delvedor commented on #259
100% agree! Furthermore, I'll be all in to always use ESM, and it will be the future of the language, so better adopt it sooner rather than later. Even if currently it does not offer all the features of CJS. Still, we should keep a CJS example somewhere.

I've always used `fastify.`, but I'm fine with `app.` as well. What I like about `fastify.` is that it always reminds about what you are using,

[2021-06-18 17:16] ivansieder commented on #259
So could I go with fastify? And if so, should the files also be called `fastify.js` instead of `server.js` in that case?

[2021-06-18 18:50] mcollina commented on #259
The files should not be called fastify as it would be ambiguous.

[2021-06-19 01:16] climba03003 commented on #259
File should be either `app.js` or `server.js`. For what I am currently doing.
`app.js` is the logic for my application without `.listen`.
`server.js` is how we like to start the `app.js`, it can be simply `.listen` or using `aws-lambda-fastify`.

Spliting `application logic` and `starting server` is better if you need to test your application and if you have multiple way to start your application.

[2021-06-19 07:10] mcollina commented on #259
I recommend using app.js as a factory and server.js as the entry point.

[2021-06-23 07:09] mcollina opened #264 "Broken build"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

master

### Plugin version

_No response_

### Node.js version

12.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

circleci

### Description

CircleCI fails to buld with

[code]

### Steps to Re

[2021-06-23 07:09] mcollina commented on #264
cc @lmammino

[2021-06-23 07:47] lmammino commented on #264
Checking 👀

[2021-06-23 08:39] #264 closed

[2021-06-23 13:58] Fdawgs commented on #240
Can be closed as resolved by https://github.com/fastify/website/pull/263 😁

[2021-06-23 13:59] Fdawgs commented on #246
Potentially closed by https://github.com/fastify/website/pull/263?

[2021-06-23 14:06] Fdawgs opened #266 "Team section doesn't align with that in Fastify repo"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.0

### Plugin version

1.x.x

### Node.js version

14.x.x

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

List of team members in https://github.com/fastify/website/blo

[2021-06-23 14:20] mcollina commented on #266
The README in the project is the source of truth.

[2021-06-23 16:15] #240 closed

[2021-06-23 17:51] #266 closed

[2021-06-23 18:08] lmammino commented on #246
I think so, @Fdawgs. I'd say let's close this one for now. We can always reopen if the problem still persists under some particular configuration.

[2021-07-20 03:50] benhalverson commented on #153
The [nodejs.dev ](https://github.com/nodejs/nodejs.dev)repo is doing this with github actions. https://github.com/nodejs/nodejs.dev/blob/main/.github/workflows/generate-preview.yml

[2021-07-20 06:33] mcollina commented on #153
@benhalverson  would you love to send a pr?

[2021-07-20 06:52] benhalverson commented on #153
Sure I can take a look at how this could work with your setup 👍🏻

[2021-08-13 08:27] climba03003 opened #271 "Prevent robot crawl on old version of document"
## 🚀 Feature Proposal

Add the meta when generating old version of document.
[code]

## Motivation

We can see that some search engine is crawling the old document and it will mislead some of the users.
e.g. https://github.com/fastify/fastify/issues/3255

[2021-08-13 09:34] mcollina commented on #271
what do you mean by old document?

[2021-08-13 09:43] climba03003 commented on #271
old version of document.

[2021-08-14 10:29] zekth opened #272 "SEO: disable indexation of previous versions"
## 🚀 Feature Proposal

adding this meta tag on non latest documentation page of the library:
[code]

## Motivation

We get some issues coming here and there from old versions of the library. Leading to potentially bad developer experience.

## Example

See: https://github.com/fastify/fastify/issues/3252

[2021-08-14 15:40] climba03003 commented on #272
I think we are talking about the same thing.
#271

[2021-08-14 15:51] zekth commented on #272
Indeed duplicate. Sorry.

[2021-08-14 15:51] #272 closed

[2021-08-16 11:42] zekth opened #273 "Guides: support order"
## 🚀 Feature Proposal

Following https://github.com/fastify/website/pull/269#pullrequestreview-730083770

Would be nice to support an arbitrary order for guides instead of relying on alphabetical order.

## Motivation

Would help people to follow progression from beginner to expert guides

[2021-08-16 12:45] jsumners commented on #273
That is most easily accomplished through file naming. Otherwise, we'd have to maintain a JSON file or something to provide this information.

[2021-08-16 13:02] zekth commented on #273
I guess a contributing guide for guides would be necessary.

[2021-08-21 09:57] climba03003 commented on #271
Close by #276

[2021-08-21 09:57] #271 closed

[2021-09-02 11:43] Eomm opened #279 "Good first issue plugin error"
On the page https://www.fastify.io/contribute/
I'm getting this error

![image](https://user-images.githubusercontent.com/11404065/131837426-72f05954-25fa-4d74-bb54-69737e48548c.png)

response error headers:

[code]

[2021-09-02 20:10] lmammino commented on #279
@GlenTiki, is this an issue with the backend lambda? Shall we host it elsewhere?

[2021-09-02 20:11] lmammino commented on #279
Btw, this seems to work right now

[2021-09-02 20:19] GlenTiki commented on #279
This is hosted on now.sh IIRC, it could have just been a blip on their end. I'll look into migrating that soon, now is deprecated.

[2021-09-03 08:39] mcollina commented on #279
We could deploy this with google cloud run, we have an account. I can set up a repo if you'd like.

[2021-09-03 09:43] GlenTiki commented on #279
I don't mind! The code that powers this originally is here:
https://github.com/GlenTiki/gh-issue-finder

On Fri, Sep 3, 2021 at 9:39 AM Matteo Collina ***@***.***>
wrote:

[2021-09-04 11:27] jsumners opened #280 "Not seeing guides"
### Description

https://github.com/fastify/website/pull/269

I am not seeing the result of that work on https://www.fastify.io/docs/master/ . Should I be?

@lmammino

[2021-09-07 12:00] jsumners commented on #280
Also isn't showing up in the latest versioned release -- https://www.fastify.io/docs/v3.21.x/

@luisorbaiceta

[2021-09-07 12:11] luisorbaiceta commented on #280
Is it possible that changes haven't been deployed yet?

[2021-09-07 12:14] jsumners commented on #280
I don't know how this works.

[2021-09-07 12:18] luisorbaiceta commented on #280
I think that changes need to be merged to the `gh-pages` branch. But as I don't have permissions to check the automated build pipeline, I am not really sure. @lmammino

[2021-09-07 12:26] jsumners commented on #280
https://app.circleci.com/pipelines/github/fastify/website/832/workflows/4cdd0634-d7ff-462b-b3fb-e648710b3c81/jobs/2687

[2021-09-07 13:16] luisorbaiceta commented on #280
FOUND THE BUG. Would It be possible for you to rename the `Index.md` file inside the guides to `index.md`?

[2021-09-07 13:32] jsumners commented on #280
Do a case insensitive match here.

[2021-09-07 13:32] simoneb commented on #279
It's looking good to me

![image](https://user-images.githubusercontent.com/20181/132353540-a1507db8-8a9b-49c7-b530-c902261f908b.png)

[2021-09-07 13:41] #279 closed

[2021-09-07 13:52] luisorbaiceta commented on #280
It would really simplify a lot of renaming specially for the index page of the section. If we decide to do a case insensitive match as you are suggesting, then we will need to rename the `Index.md` file to `index.md` anyway if we want the route to be `...../docs/latest/Guides` instead of `...../docs/latest/Guides/Index`

[2021-09-07 14:24] jsumners commented on #280
The website build should accept any case in my opinion.

[2021-09-07 14:44] luisorbaiceta commented on #280
It does support any case except for the index files, which in my opinion makes sense because the default behaviour of the website is to render index.html files as root of the folder they are contained in

[2021-09-07 14:47] jsumners commented on #280
The build should handle whatever case is found. I'm not [in condition](https://jrfom.com/posts/2021/09/03/a-bike-crash/) to debate much. Whatever can be done to fix the problem should be done.

[2021-09-07 14:50] luisorbaiceta commented on #280
Sorry to hear that! Get well soon!

I will see if I can find time next week to address this issue

[2021-09-28 18:37] anthonyringoet commented on #212
Recently fixed: https://github.com/fastify/fastify/pull/3311

[2021-09-28 18:39] anthonyringoet commented on #189
Seems to be fixed

[2021-09-28 22:16] #189 closed

[2021-11-11 09:53] #280 closed

[2021-11-17 10:26] Xhale1 opened #291 "Investigate Docusaurus (revisited)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Related: #100 and https://github.com/fastify/fastify/issues/722.

I propose revisiting migrating the docs to Docusaurus, especially after significant improvements to their tech since previous discussions.

I would love

[2021-11-17 11:40] Eomm commented on #291
In general, I think the fastify website tech stack is out of date and need an upgrade.

I think the "must have" features are:

- Fastify's version dropdown to see the right documentation based on the version (not the last one only)
- The fastify repository's `docs/` folder is the main source of truth

Nice to have:

- runkit integration (I saw it somewhere and it is just amazing)
- site preview on

[2021-11-17 11:55] mcollina commented on #291
I recognize the problems in the documentation and current website. We truly need somebody that will champion it in the long run.

This is a significant endeavor.

[2021-11-17 12:07] Xhale1 commented on #291
My company is adopting Fastify and I would love to pitch in with some significant documentation improvements (content, design, infra, etc).

I suppose my next question is what do you feel would be the best next steps? I'm confident in Docusaurus as the best tool for the job though I could draft up some comparisons if it'd be beneficial.

I can build out a proof of concept for new docs as a jumping

[2021-11-17 12:21] jsumners commented on #291
With the recent addition of support for guides in the documentation I intend to do a reorganization. I just haven't had time to get started yet. Might have some time this weekend. Not sure.

As for the proposed package: I would rather stay far away from Facebook tech.

[2021-11-17 18:44] Xhale1 commented on #291
Regarding the Facebook tool: I'm generally all for anti-facebook sentiments but I think we should pursue the best tool for the job. Avoiding Facebook also means avoiding Next, Gatsby, and React.

That said I have some ideas for alternatives:
- GitBook
  - Really solid from a design & usability standpoint
  - It's proprietary and doesn't leave a lot of room for customizing (they've changed pricing

[2021-11-17 19:25] jsumners commented on #291
This is completely acceptable to me.

I'm not convinced we need to change the tooling. I will try to put together my proposal in short order. It amounts to:

1. Split `/docs` into `/docs/guides` and `/docs/reference`
2. Add `/docs/index.md`
3. Add `/docs/reference/index.md`
4. Move appropriate docs into the correct locations

A subsequent PR(s) would address the actual text of the documents. All r

[2021-11-22 07:34] lachlancollins commented on #291
Hi, I've been directed here from fastify/fastify#2877. The key focus of my comment there was improving the integration of TypeScript documentation so that it is alongside and "equal" to the JavaScript documentation, rather than in its own separate page.

One of my suggestions as part of this improvement was implementing toggles for code examples between JS and TS, citing Redux Toolkit's docs as an

[2021-11-22 09:16] Xhale1 commented on #291
I feel strongly that avoiding react because it't facebook tech is a poor decision. The same logic could be applied to avoiding nodejs, typescript, github, npm, yarn, or a great many leading tools that make developer lives so much better.

A massive amount of the top tech sites in the world use React, and a healthy majority of top open source projects use Docusaurus. The project is fully open sourc

[2021-11-22 13:41] mcollina commented on #291
There is a fundamental issue with docusaurus: versioning. Versioning in Docusaurus is very far from how  things should be structured. Docusaurus support this as an afterthought by keeping all the data on the same repository (ref https://docusaurus.io/docs/versioning). The approach that this website currently has is *great* for this as it allows multiple versions to coexists (they are assembled fro

[2021-11-22 14:02] jsumners commented on #291
This is correct. Unfortunately, I was just too out of it over the weekend to work on https://github.com/fastify/website/issues/291#issuecomment-971901732 (I started a local branch and that's as far as I got). Thursday and Friday are a holiday for me, so I hope to get some work done at that time.

This statement is a matter of opinion. If you ask the folks that like Vue, Marko, or other things, the

[2021-11-22 21:06] lachlancollins commented on #291
Just a few thoughts on the versioning issue in Docusaurus - wouldn't it be possible to just use the current strategy of clone all releases, and then copy the docs of old versions into /versioned_docs, and the latest release into /docs?

Also to clarify my view, I would like to see something more than the current site's features, including those mentioned by @Xhale1 up the top of this page. Docusau

[2021-11-23 02:05] jsumners commented on #291
Please see https://github.com/fastify/fastify/pull/3474 for my proposal as a starting point.

[2021-11-23 02:07] jsumners commented on #291
Personally, I would be willing to cull all of the old documentation and stick with the current supported LTS releases. Either at the semver major level or only the most recent release in the LTS line. It would greatly simplify a lot of site generation logic.

[2021-11-23 02:15] Xhale1 commented on #291
I fully agree with @lachlancollins on not being attached to docusaurus, whatever tool gets us the best docs would be great. Apologies if I seem like I'm just pushing a single tool.

Regarding versioning: I also agree that we should drop the patch (and I think minor) versions of the docs.  I propose having 1.x, 2.x, 3.x, and next (or similar). This is also the way docusaurus is built to handle vers

[2021-11-23 02:21] jsumners commented on #291
I think the best path forward is to start new repository, say `new-website`, that starts from scratch (but imports all necessary resources) as a proof-of-concept. This repo could then be promoted to the main repo upon completion.

This new project **must**:

+ Follow https://github.com/fastify/website/issues/291#issuecomment-971494581
+ Support robust cross referencing as I outline in https://gith

[2021-11-23 06:38] lachlancollins commented on #291
@jsumners I found the cross-referencing you mentioned in Hugo very cool and agree it is essential - I checked and found that Docusaurus also [checks for broken links](https://docusaurus.io/docs/api/docusaurus-config#onbrokenlinks) and fails with errors during build.

In terms of the framework of choice for `new-website`, I'm a bit uncertain on the verdict at this point - is Docusaurus entirely rul

[2021-11-23 07:05] Xhale1 commented on #291
I'm not sure this fully covers the grievances listed here.

It seems to me that the consensus is that the current Fastify docs tech stack is out of date and would require too much dev work when existing solutions are so readily available and prevalent in the open source community.

Some of the headlining issues appear to be
- Code blocks lack popular features
  - ex. tabs to allow switching betwee

[2021-11-23 07:58] Eomm commented on #291
Some users opened bugs for not working features, but the issue was a wrong minor version. I think a good approach would be tracking only major versions, but having a UI that shows something like `added in 2.34.0`. That would be cool!

I mean: we should use that documents' content, but it is not denied to update them to be processed by the new-site (for example adding markdown metadata).

Your list

[2021-11-23 12:08] mcollina commented on #291
![Screenshot 2021-11-23 at 12 58 36](https://user-images.githubusercontent.com/52195/143020421-3bc00688-0f45-4f7c-bbf6-3aa82a5ceff9.png)

I think the versioning support in Docusarus is so bad that even them are not using it: if you flip that switch at the top it redirects to a different netlify URL. I can only see Docusaurus as problematic long term.

A _better_ approach would be to have:

1. a "p

[2021-11-23 20:26] lachlancollins commented on #291
The versioning on docusaurus's site *is* weird - they only directly build the current (beta 9) and previous beta (beta 8) in the live site. I imagine this is to keep their bundle size small while they iterate through so many small beta releases. However if you look at sites such as https://socket.io/ they don't have such problems, and the solution is very clean in my opinion.

If their specific ve

[2021-11-24 09:00] mcollina commented on #291
I have invited both of you to a repository "website-next".

[2021-11-24 11:37] luisorbaiceta commented on #291
Having gone through the struggle of working with the current tech stack when implementing the nested documentation, I totally agree with @Eomm. As a contributor I ended up spending a lot time trying to understand the current build process, and I think this can become a huge barrier when seeking help and contributions.

IMO, `Jamstack` is the go to solution, and as suggested by @mcollina Eleventy w

[2021-11-24 20:30] lachlancollins commented on #291
Hi @luisorbaiceta, I agree that something like Eleventy is a much closer match to the current site's Metalsmith and would have very few cons - however, from what I can tell it wouldn't actually add much value to the user-facing side without additional work. In terms of Docusaurus, it brings docs enhancements that either work-of-the-box or with minimal configuration, including those mentioned by @X

[2021-11-24 20:35] luisorbaiceta commented on #291
@lachlancollins I haven't had the chance to look at docusaurus, but for what I've read in this thread It has some issues with version handling. Is that correct? Is there any workaround?

[2021-11-24 20:41] lachlancollins commented on #291
@luisorbaiceta yep we have discussed the versioning, and I explained why I'm not worried about it [here](https://github.com/fastify/website/issues/291#issuecomment-977140107).

To summarise, https://socket.io/ is a great example of using Docusaurus's versioning system, but there is no obligation for us to use that system, and we can keep organising it into subfolders of /docs/ based on release as

[2021-11-25 08:56] Xhale1 commented on #291
Hey @lachlancollins, I kinda jumped the gun and added a first pass of the docusaurus demo over at https://github.com/fastify/website-next. Worked on it while traveling and I didn't have wifi, hence no communication.

It's just the getting-started page for now which ended up being a good demo page. We're able to show off the use of tabs for NPM / Yarn and ESM / CommonJS, code block file naming (soo

[2021-11-25 08:58] lachlancollins commented on #291
Hi @Xhale1, I just realised we have access to the main branch - I've been working on the docusaurus-demo branch and have done quite a bit :) just trying to merge our work now!

[2021-11-25 09:00] Xhale1 commented on #291
@lachlancollins oh no, I'm so sorry, I'll check out your work now. If you want feel free to scrap my stuff (I only put an hour or so into it).

[2021-11-25 09:25] lachlancollins commented on #291
@Xhale1 all good, it seems like you prioritised the config and I prioritised the docs so it worked out well :) just checking that the merge had no problems right now - if you notice anything missing please add it back in!

[2021-11-25 09:45] lachlancollins commented on #291
Everything is building successfully, the big things which haven't been customised are the non-docs pages and the order of docs. Everything else seems pretty small. Should we make an issue/discussion over on https://github.com/fastify/website-next for progress instead of continuing on here? I might write a GitHub Action to let people browse the demo, @mcollina is this okay? If so can you handle the

[2021-11-25 10:31] mcollina commented on #291
I have enabled gh-pages. Please open issues on that repo if you'd like to gather feedback about that, this issue is already way too long.

[2021-11-25 10:37] lachlancollins commented on #291
@mcollina final question, what is the URL for gh-pages? https://fastify.github.io/website-next/ doesn't work because it isn't at the root path.

[2021-11-25 10:41] mcollina commented on #291
@lachlancollins please open a separate issue on that repo, describe _Exactly_ what you need and let's keep this for high-level coordination/discussion. I'm going to hide this and a few of the previuous posts.

[2021-11-26 11:38] delvedor commented on #291
I'm fine with docusaurs, as long as we can have some custom pages like we are having right now.
A plus of docusaurs is that it's a well know tech, and maintaining it shouldn't be that hard.
Still, we don't have experience with it, so if we want to commit to moving to docusaurs, I would kindly ask @Xhale1 @lachlancollins  @luisorbaiceta if you are willing to help us maintain this for the foreseeabl

[2021-11-26 12:48] luisorbaiceta commented on #291
I can really commit to a tech I am not familiar with either. I will migrate and help with the scripts and docs processing

[2021-11-26 13:30] lachlancollins commented on #291
Hi @delvedor, I'm in a position right now where I'd be very happy to commit to maintaining the new website with Docusaurus! Also, I'd be more than happy to work alongside @Xhale1 if he's interested, and of course glad to have @luisorbaiceta helping with the scripting :)

Before we continue working on this, is there anyone else who needs to give this change the thumbs up? Thanks!

[2021-11-27 00:21] Xhale1 commented on #291
I can commit to maintaining the docs site as well, super happy to work with @lachlancollins. The nice thing is most of the tech is largely maintained by the greater docusaurus community letting us focus on the docs themselves (which I'm also really interested in improving).

[2021-12-06 21:45] luisorbaiceta opened #298 "Add support for Reference-style Links"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Improve [`remapLinks`](https://github.com/fastify/website/blob/944247a26dd331f34bb5dfaf240fdff34badc87f/src/scripts/processReleases.js#L176) method to support markdowns [Reference-style Links](https://www.markdownguide

[2021-12-11 15:09] jsumners commented on #298
@luisorbaiceta do you have time to point out the locations in the code that need to be changed?

[2021-12-11 15:11] luisorbaiceta commented on #298
I have pointed it in the description. The method that needs to target those links with regex is `remapLinks`

[2021-12-11 15:34] jsumners commented on #298
https://github.com/fastify/website/blob/944247a26dd331f34bb5dfaf240fdff34badc87f/src/scripts/processReleases.js#L176-L208

[2021-12-13 22:13] mcollina opened #305 "Broken rendering of Fastify main branch"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Description

The following link is a 404: https://www.fastify.io/docs/master/Reference/index.md.

See https://www.fastify.io/docs/master/ < the links generated are wrong there.

### Steps to Reproduce

See above

### Expected Behavior

_No res

[2021-12-13 22:13] mcollina commented on #305
cc @luisorbaiceta

[2021-12-13 22:18] luisorbaiceta commented on #305
Yes, I was checking it right now.  In this case is not related to the regex as I checked before and It was working fine. This is a problem with the default index of the docs not getting remapped. Rest is correctly linked for what I have checked. I will send a PR asap

[2021-12-13 23:07] luisorbaiceta commented on #305
[problem](https://github.com/fastify/website/blob/f259836dd11c1b0d36e8e07a7f5c8ef8b29ec83a/src/scripts/processReleases.js#L249) is still here. If anyone in @fastify/core has experience with regex it would be much appreciated. We just need that line to match `[foo bar](./foo/bar.md)` or `[foo bar]: ./foo/bar.md`

[2021-12-14 07:39] #305 closed

[2021-12-14 08:34] luisorbaiceta commented on #298
closed this in #307

[2021-12-14 08:34] #298 closed

[2021-12-14 14:09] luisorbaiceta commented on #153
This is a huge +1. Any updates @benhalverson?

[2021-12-14 15:23] luisorbaiceta commented on #246
This is now working with WSL(ubuntu 20.04) on node v14.16.0 and npm v7

[2021-12-14 15:23] #246 closed

[2021-12-14 15:29] RoXioTD opened #308 "Several Documentation links not found (404)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.0

### Plugin version

_No response_

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Some Documentation links are currently pointing into

[2021-12-14 15:35] luisorbaiceta commented on #308
This is probably related to the index of Algolia. We need to update it. Someone with access should check @mcollina @jsumners

[2021-12-14 15:36] jsumners commented on #308
I don't think I have access to that.

[2021-12-14 15:36] luisorbaiceta commented on #308
cc @lmammino

[2021-12-14 15:47] mcollina commented on #308
I think we should update https://github.com/algolia/docsearch-configs/blob/master/configs/fastify.json. I'm going to open an issue there and see. Maybe @luisorbaiceta you can take a look as well! Thanks

[2021-12-14 15:50] jsumners commented on #308
😨 our docs rely on updating a config in a completely different org managed by a completely different team?

[2021-12-14 15:53] luisorbaiceta commented on #308
If It's ok I will temporarily hide the search bar until this is solved.

I agree we need a way to update the index or config via github actions in our ci

[2021-12-14 16:20] RoXioTD commented on #308
This is not only an issue on the website. Some links on the README.md of the [Fastify repo ](https://github.com/fastify/fastify) are also pointing to the wrong direction. See https://github.com/fastify/fastify/blob/main/README.md#documentation. For example the `Hooks`, `Decorators`, `Lifecycle`....
If you want I can open a PR and fix this.

[2021-12-14 16:21] mcollina commented on #308
Go aghead!

[2021-12-14 17:25] mcollina commented on #308
I fixed it

[2021-12-14 17:25] #308 closed

[2021-12-14 17:29] mcollina opened #310 "Style the new searchbox"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

In order to fix #308 #309 I have updated our algolia setup to use v3 docsearch. As a result, the searchbox now use the default algolia styling. It would be awesome to update this.

### Motivation

_No response_

### Ex

[2021-12-14 17:29] mcollina commented on #310
cc @luisorbaiceta

[2021-12-14 17:41] luisorbaiceta commented on #310
Seems that [docs](https://docsearch.algolia.com/docs/styling) are a work in progress (there is nothing about custom styling) and v3 is still in alpha. I think this needs to wait...

[2021-12-14 17:53] luisorbaiceta commented on #310
I will add some styling  and hopefully classnames will remain the same in the future

[2021-12-15 08:50] mcollina opened #312 "Create redirect for old pages"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Description

After https://github.com/fastify/fastify/pull/3474, some of the pages are now 404s if they were external links.
It would be awesome to provide some redirects for them

(I don't know how we can do this, as this is hosted on Github

[2021-12-15 09:48] luisorbaiceta commented on #312
I'm afraid this is not possible with `Github Pages`. I have seen many "hacks" that suggest to maintain the old site setting a `<link rel="canonical" href="{{THE_NEW_URL}}" />`. But this won't work for us because we have changes the docs structure.

In my opinion we have to assume that with a clarification and reorganization of the docs, and without a hosting provider that allows custom redirects,

[2021-12-15 10:11] jaklec commented on #312
I don't know if this is of any help (sorry if I'm kicking in open doors) or if it should be posted in a separate ticket? Anyway - here's an example of a broken link I tried to reach: https://www.fastify.io/docs/latest/Reference/Guides/docs/Reference/Validation-and-Serialization

I think I found the correct docs under https://www.fastify.io/docs/latest/Reference/Validation-and-Serialization/

[2021-12-15 10:21] luisorbaiceta commented on #312
Where did you find that link? @jaklec It's not supposed to be anywhere

[2021-12-15 10:28] jaklec commented on #312
Hm, strange... I navigated to it through the docs menu on fastify.io about an hour ago. But now it seems to serve the correct link. Could it be my browser cache maybe? Anyway, it seems to work now :)

[2021-12-15 10:30] luisorbaiceta commented on #312
Great. Thanks for the report!

[2021-12-15 10:30] jaklec commented on #312
@luisorbaiceta  No sorry, I found the broken link. It's in the first paragraph on this page: https://www.fastify.io/docs/latest/Guides/Fluent-Schema/

[2021-12-15 13:32] jsumners commented on #312
Unfortunately, without our own web server, we cannot issue proper `301`s like https://github.com/jsumners/itcouldbe9.com/blob/9b666d9f956a4eb6a7719c4f5bdea24c8949eb81/templates/nginx/jrfom.com.conf#L10-L18 . The best we can do ask for robots to reindex.

@jaklec please open an issue on the main Fastify repo for this. Submitting a PR to fix it would also be very welcome.

[2021-12-15 13:38] luisorbaiceta commented on #312
#323

[2021-12-15 13:41] jsumners commented on #312
Oh. I thought it was broken markdown, not broken parsing of markdown.

[2021-12-15 13:44] #312 closed

[2021-12-18 18:40] #310 closed

[2021-12-20 09:16] luisorbaiceta opened #315 "Switch hosting provider"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

There is already an open issue that suggest the change to Netlify #84, But I think any provider that has deployment previews and redirections should be fine.

Any good personal experience and recommendation with a host

[2021-12-20 09:24] luisorbaiceta commented on #315
@sinchang, in your experience with Netlify, do you think it could solve #312?

[2021-12-20 11:20] mcollina commented on #315
I think we can switch to Netlify given (https://www.netlify.com/legal/open-source-policy) or Vercel (https://vercel.com/support/articles/can-vercel-sponsor-my-open-source-project).

Whatever you chose - I have contacts on both providers.

[2021-12-20 13:10] jsumners commented on #315
Really want to see this happen. It's very frustrating not being able to see how changes to docs in the main repo will affect the site without first merging into `main`.

[2021-12-20 13:57] mcollina commented on #315
@luisorbaiceta if you include a badge https://www.netlify.com/press/#badges in the footer, I can request an OSS account from Netlify.

[2021-12-20 14:15] luisorbaiceta commented on #315
I'm afraid this is  a consequence of the current build process and has nothing to do with the provider. A good solution would be to always work on the same branch the docs changes (`wip/docs`) and targeting that specific branch in the build process (like we do with master branch). We can leave that part hidden for the final user and only make it available by route access

[2021-12-20 14:17] jsumners commented on #315
I do not wish to complicate the core repo contribution workflow. The website build should be able to accommodate the normal PR process.

[2021-12-20 14:18] mcollina commented on #315
@luisorbaiceta it should be possible by triggering a rebuild using the API.

[2021-12-20 14:24] luisorbaiceta commented on #315
If changes have not been merged to master, there is no way to preview them without knowing the name of the branch those changes have been made in beforehand. See [here](https://github.com/fastify/website/blob/8cb868b3f1a8a5d1081aed4c2c2de6c476405490/src/scripts/downloadReleases.js#L118)

[2021-12-20 14:51] luisorbaiceta commented on #315
Should we choose Netlify then?

[2021-12-20 17:49] mcollina commented on #315
I would go ahead with Netlify unless somebody has a strong preference for something else. I don't know what would entail to pick Netlify vs something else (or roll our own). I'm just working to create a sponsored account for Fastify.

Do anyone have an objection in picking Netlify?

[2021-12-20 17:53] luisorbaiceta commented on #315
Great! Let me know when credentials are ready so I can start a PR to work on the new [workflow](https://github.com/marketplace/actions/netlify-deploy)

[2021-12-20 17:58] mcollina commented on #315
I'd need the badge to be there to do that.

[2021-12-20 18:01] luisorbaiceta commented on #315
Should we wait a reasonable time then to see if anyone has any objections with Netlify? If not, I have time to add it now

[2021-12-20 18:05] mcollina commented on #315
Open a PR, let's wait a day or two to land it.

[2021-12-20 18:43] jsumners commented on #315
No objections here.

[2021-12-21 09:25] luisorbaiceta commented on #24
Current website is automatically generating benchmarks on build process

[2021-12-21 09:25] #24 closed

[2021-12-21 09:28] luisorbaiceta commented on #67
@mcollina do you still want this to happen? In my option it will be helpful for new developers using fastify

[2021-12-21 09:33] luisorbaiceta commented on #92
closing this for now, since there is not foresight of maintaining multiple languages

[2021-12-21 09:33] #92 closed

[2021-12-21 09:43] luisorbaiceta commented on #161
In my opinion, the common use case scenario will be to first select the version if you are not working with `latest`. Realizing you are targeting the wrong version I think will hardly ever happen. So just redirecting to the main `docs` page (as it's done now) I think is the correct solution

[2021-12-21 09:47] luisorbaiceta commented on #188
Current remapping logic covers this case

[2021-12-21 09:47] #188 closed

[2021-12-21 09:48] #212 closed

[2021-12-21 09:50] luisorbaiceta commented on #251
Should we move this to fastify/fastify now that it is achievable?

[2021-12-21 11:17] #229 closed

[2021-12-21 11:20] luisorbaiceta commented on #259
I think this should be transferred either to fastify/fastify-snippet or to fastify/fastify

[2021-12-27 11:17] mcollina commented on #315
I have requested an OSS account from Netlify

[2021-12-28 08:53] mcollina commented on #315
@luisorbaiceta I have invited you to Netlify

[2021-12-28 09:03] luisorbaiceta commented on #315
Great! We can now trigger deploys by connecting the account to the repo, or by setting up a workflow from github actions. I'm fine with both approaches

[2021-12-28 09:55] mcollina commented on #315
As you prefer, you should have enough permissions for both - in case let me know.

[2021-12-28 15:18] luisorbaiceta commented on #84
Hi @sinchang! This is finally happening at #318 . Thanks for the suggestion. Please don't hesitate to leave a comment or send a PR If you think you can help in any way in the migration process. Cheers!

[2022-01-10 11:52] mcollina opened #322 "use fastify-vite and dogfood our own technology"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

fastify-vite can be used as a static site generator. Should we move entirely to a stack that we own?
It does not seem that hard to do: https://hire.jonasgalvez.com.br/2022/jan/08/blogging-with-fastify-vite-and-vue-3/ a

[2022-01-10 12:03] galvez commented on #322
Indeed it's in a good shape enough now for something like this to be tried on a larger scale. I'm happy to lead this effort, need some time to get acquainted with the current state of affairs.

[2022-01-10 12:18] luisorbaiceta commented on #322
I'm totally into it!

[2022-02-07 17:45] rluvaton opened #329 "Mention in the hooks page that registering a global hook after adding a new endpoin will still run"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Add in the Hooks page that registering a global hook after adding a new endpoint, the global hook will still run

### Motivation

Migrating from express to Fastify can lead to this problem:

Example code in express:
[c

[2022-02-07 17:52] jsumners commented on #329
Please read https://www.fastify.io/docs/latest/Reference/Encapsulation/

[2022-02-07 17:57] rluvaton commented on #329
I think it should be mentioned, maybe a link to the Encapsulation page you provided

[2022-02-07 23:21] marcodev86 commented on #67
Something like that?

![Fastify-cli](https://user-images.githubusercontent.com/3684662/152888757-d2619c9f-ff85-4381-ae08-0791a4ed507d.png)

[2022-02-08 00:16] mcollina commented on #67
That'd be great, thx!

[2022-02-08 14:31] marcodev86 commented on #67
I'm doing the pull request this evening.

[2022-02-11 09:52] mcollina opened #332 "Publish the fastify 2022 user survey as a banner"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

We need to promote our 2022 user survey in https://linuxfoundation.surveymonkey.com/r/XQX32CY.

This could be done similarly to how we added the OpenJS banner: https://github.com/fastify/website/pull/258 and https://gi

[2022-02-11 09:52] mcollina commented on #332
cc @luisorbaiceta would you mind to make the honors?

[2022-02-11 10:59] mcollina commented on #332
thx!

[2022-02-11 19:53] luisorbaiceta commented on #332
I'm think about something like: "Help us make Fastify better. Fill out our 2022 user survey"

![image](https://user-images.githubusercontent.com/44276180/153660072-b8011bc7-a066-4083-9899-11d715526cd9.png)

Thoughts?

[2022-02-11 21:07] mcollina commented on #332
nice!

[2022-02-11 22:07] jsumners commented on #332
Looks good. Make it so.

[2022-02-12 10:53] #332 closed

[2022-02-17 03:04] cache-rules opened #335 "Docs don't let me scroll to bottom of page"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Description

If I got to the docs page and scroll down, the browser immediately scrolls me back to the top of the page.

### Steps to Reproduce

1. Go to https://www.fastify.io/docs/latest/
2. Make sure your browser window is the full height o

[2022-02-17 05:52] luisorbaiceta commented on #335
Good catch! I'll take a look. Seems to be happening only in the root of the docs. Thanks for reporting!

[2022-02-17 17:18] labkey-alan commented on #335
🎉 Glad I could help, keep up the good work folks.

[2022-03-03 14:09] mcollina opened #337 "Remove the survey banner"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

As titled

### Motivation

_No response_

### Example

_No response_

[2022-03-03 14:09] mcollina commented on #337
cc @luisorbaiceta

[2022-03-03 15:30] #337 closed

[2022-04-27 11:27] simoneb commented on #279
This is happening again. Considering that we don't need the UI and the only API endpoint is extremely simple, I suggest that we rewrite and self-host it.

[2022-04-27 11:45] xkal36 commented on #279
I will pick this up

[2022-04-28 06:48] mcollina opened #345 "Broken contributing/good first issues page"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Description

Open the good first issue page, it shows an error.

### Steps to Reproduce

Open the good first issue page, it shows an error.

### Expected Behavior

_No response_

[2022-04-28 06:48] mcollina commented on #345
@GlenTiki could you take a look?

[2022-04-28 09:32] xkal36 commented on #345
Hi @mcollina and @GlenTiki. In discussion with @simoneb , we figured it would be best to move the code for the api to fetch gh issues to the fastify org, in a new repo and to host this on google cloud run (think you mentioned doing something in a previous issue Matteo). In any case, here is the new repo which is in the nearform org at the moment: https://github.com/nearform/gh-issues-finder. @Glen

[2022-04-28 10:01] GlenTiki commented on #345
I'm happy for a fork to be hosted elsewhere, I've not been in this space in
a long time, so I think it makes sense for someone else to maintain that
infra :+1:

On Thu, Apr 28, 2022 at 10:32 AM Andrew Winterbotham <
***@***.***> wrote:

[2022-04-28 21:33] mcollina commented on #345
I can create a google cloud run instance on Monday if needed.

[2022-04-29 11:53] simoneb commented on #345
@ital0sant0s is working on this. once we have it working we can move it over to the fastify hosted gcp

[2022-05-17 16:21] jsumners opened #348 "Scrolling the sidebar menu is difficult"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

When trying to scroll the left sidebar menu, it is not possible to reach the bottom with _also_ scrolling the overall page:

https://user-images.githubusercontent.com/321201/168860227-aee6e75f-a3e1-42e1-97a3-b6fff7d12c83.mp4

This made

[2022-05-17 17:23] luisorbaiceta commented on #348
I'll take a look 👀

[2022-05-18 11:54] #348 closed

[2022-05-25 09:11] xkal36 commented on #345
Everything is done, apart from switching the url used here: https://github.com/fastify/website/blob/f2f2bc5a8701ffcb94eb68239683ebdbf0471d2d/src/website/content/js/contribute.js#L3 to https://fastify-gh-issues-finder-5uewp47fja-uc.a.run.app/api/find-issues?org=fastify

[2022-05-25 09:14] mcollina commented on #345
You can also use `https://goodfirstissue.fastify.io/` now

[2022-05-25 09:21] simoneb commented on #345
@mcollina @xkal36 what's missing to do here? Can we wrap this up or are we still waiting for something else to happen?

[2022-05-25 10:26] mcollina commented on #345
a PR to update the website to the new service.

[2022-05-25 10:30] simoneb commented on #345
@xkal36 is this something you had started already? Can you do this since you know already what to change please?

[2022-05-25 15:35] luisorbaiceta commented on #345
closed in #352

[2022-05-25 15:35] #345 closed

[2022-08-01 03:45] adarshmadrecha opened #360 "Move docs to vitepress"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I am proposing that the docs be moved to [VitePress](https://vitepress.vuejs.org/).

Me and my colleagues can take this up. If required, can also create a mockup/sample page.

### Motivation

The current docs does not

[2022-08-01 05:15] climba03003 commented on #360
I am transferring this issue to `website`.
We already have plenty of issue on using new framework for the website but it seems to me most of them is lack of developing after certain times.

See https://github.com/fastify/website-next

[2022-08-01 13:08] adarshmadrecha commented on #322
If you are considering building new help docs/website using [VitePress](https://vitepress.vuejs.org/), I can contribute too.

[2022-09-27 22:51] webketje commented on #291
Hi there,

I found this repo through GH's "Used By" section on a metalsmith plugin.
There are numerous elaborate efforts linked to this repo to switch to vitepress, fastify+vite or docusaurus, which obviously provide more out-of-the-box features than Metalsmith. As the late maintainer of the latter (since sept. 2021), I can of course only encourage you to continue using metalsmith and support its

[2022-10-09 18:05] AugustinMauroy opened #374 "I18N system"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I propose to add an I18N system.
It could be a `dropdown or a simple `select`.
This system would work for all possible languages

### Motivation

This will allow a maximum of people to easily understand the contents of

[2022-10-09 18:12] Uzlopak commented on #374
It makes no sense to provide a i18n system if we have not translated all the content to different languages.

[2022-10-09 18:13] luisorbaiceta commented on #374
See #92

[2022-10-09 19:20] #374 closed